@inject IConfirmService _confirmService
@inject ModalService _modalService
@inject IMessageService _message

<style>
    .ant-modal-content {
        position: relative;
        background-color: #fff;
        background-clip: padding-box;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
        pointer-events: auto;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-content-modal {
        color: #000;
        font-family: Noto Sans Thai;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.704px;
        text-align: center;
    
    }

</style>

<Modal Visible="_visible" 
    Class="ant-modal-content" 
    OkText=@_okText 
    Footer="@ModalFooter.DefaultOkFooter"
       OnOk="@HandleOk"
    OnCancel="@HandleCancel">
    <div class="d-flex flex-column align-items-center">
        <img src="/helper_shared/FeesAdminImage/OrganTransplantation/ProgressData.svg" />
        <div class="text-content-modal">
            กำลังเรียกข้อมูลงวด 6603 <br>กรุณารอสักครู่
        </div>
    </div>
</Modal>


@code {

    [Parameter]
    public EventCallback<int> GoToInstallmentSelectPage { get; set; }

    [Parameter]
    public bool _visible { get; set; }

    [Parameter]
    public EventCallback<bool> OnOpen { get; set; }

    string _okText = "ดูรายการข้อมูล";
    string _title = "Override Locale";

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }

    private async Task HandleOk(MouseEventArgs e)
    {
        Console.WriteLine(e);

        await GoToInstallmentSelectPage.InvokeAsync(3);
        // _visible = false;
    }

}