@using System.Text;
@using System.ComponentModel.DataAnnotations

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ส่งเสริมสุขภาพและป้องกันโรคกรณีวัคซีน</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">ประวัติการเบิกจ่าย</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">รายงาน</span>
                </li>
            </ol>
        </nav>
        <div class="mms-media-end py-2">
            <Space Direction="@DirectionVHType.Vertical" Style="width:100%">
                <SpaceItem>
                    <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
                </SpaceItem>
            </Space>
        </div>

        <Table DataSource="listOfData" TItem="ItemData" Bordered ScrollX="1000" HidePagination>
            <ColumnDefinitions>
                <Column TData="string" Title="ลำดับ" Width="6%" Align="ColumnAlign.Center">
                    @String.Format("{0:d}", listOfData.IndexOf(context) + 1)
                </Column>
                <Column TData="string" Title="หัวข้อรายงาน" Align="ColumnAlign.Center">
                    @context.fullName
                </Column>
                <Column TData="string" Width="10%" Align="ColumnAlign.Center">
                    <img title="เรียกดู" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" @onclick="(() => Callmodal(true))" />
                    <img title="เรียกดู" src="helper_shared/PortalAdminImage/download.png" style="width:24px;height:24px; cursor:pointer;" @onclick="(() => Callmodal(true))" />
                </Column>
            </ColumnDefinitions>
        </Table>

    </div>
</div>


    @using sso.mms.fees.ext.Shared.HealthPromoVaccinationExt.HealthPromoReport.Modals
<ModalViewDetail _visible=@callmodal OnClose="@Callmodal" />

    @code {
    /*-- CallbackModel --*/
    bool callmodal { get; set; }
    public int page;
    public void Callmodal(bool value)
    {
        callmodal = value;
    }
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }
    IEnumerable<ItemData> selectedRows;
    string phoder = "วว/ดด/ปป";
    List<ItemData> listOfData = new List<ItemData>();

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);

    }

    public class ItemData
    {
        public int Id { get; set; }
        public string identificationNumber { get; set; }
        public string fullName { get; set; }
        public string Vactype { get; set; }
        public string surgeryDate { get; set; }
        public string idDonor { get; set; }
        public int pay { get; set; }
        public string hospitalAccept { get; set; }
        public string serviceType { get; set; }
        public string createdDate { get; set; }
        public int amount { get; set; }
        public bool status { get; set; }

    };

    protected override void OnInitialized()
    {
        listOfData = Enumerable.Range(0, 4).Select(i => new ItemData
            {
                Id = i,
                identificationNumber = $"xxxxxxx{i}",
                fullName = "นายสมศรี",
                Vactype = "3 สายพันธุ์",
                surgeryDate = "29 มี.ค. 2566",
                idDonor = "12345678",
                pay = 100,
                hospitalAccept = "โรงพยาบาล 1",
                serviceType = "กระจกตา",
                createdDate = "29 มี.ค. 2566",
                amount = 2500,
                status = false
            }).ToList();
        listOfData.Add(new ItemData
            {
                Id = 2,
                identificationNumber = $"xxxxxxx{20}",
                fullName = "นายสมศักษดิ์",
                Vactype = "3 สายพันธุ์",
                surgeryDate = "299 มี.ค. 2566",
                idDonor = "999999999",
                hospitalAccept = "โรงพยาบาล 2",
                serviceType = "5555",
                createdDate = "29 มี.ค. 2566",
                amount = 3600,
                status = true
            });
    }
}