.ant-table-thead > tr > th {
    position: relative;
    color: #FFFFFF !important;
    background: #3B6C43 !important;
    font-weight: 600 !important;
    text-align: center !important;
    border-bottom: 1px solid #ffffff !important;
    transition: background 0.3s ease;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 12px 16px;
    color: white !important;
    line-height: 1.5715;
    cursor: pointer;
    transition: all 0.3s, visibility 0s;
    background: #3B6C43;
    border-radius: 10px 10px 0 0 !important;
}

.ant-pagination-options {
    display: inline-block;
    margin-left: auto !important;
    vertical-align: middle;
}

.ant-select-single .ant-select-selector .ant-select-selection-item, .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    padding: 0;
    line-height: 38px !important;
    transition: all 0.3s;
}

.ant-pagination-item-active {
    font-weight: 500;
    border-color: #c5cbe6 !important;
    background: #C5CBE6 !important;
    color: #ffffff !important;
}

.ant-table-column-title {
    position: relative;
    z-index: 1;
    flex: 1;
    font-size: 18px !important;
}

.ant-table-container table > thead > tr:first-child th:first-child {
    border-top-left-radius: 8px !important;
}

.ant-table-container table > thead > tr:first-child th:last-child {
    border-top-right-radius: 8px !important;
}

.ant-table table {
    width: 100%;
    text-align: left;
    border-radius: 8px !important;
    border-collapse: separate;
    border-spacing: 0;
}

.ant-table-container {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}
/*--footer table--*/
.ant-table-summary {
    position: relative;
    z-index: 2;
    background: #CECCD0 !important;
}