@using System.ComponentModel.DataAnnotations;

@*@{
    RenderFragment okbutton =@<div style="color:#fff;">
            <Icon Type="save" Theme="outline" />
            บันทึก
    </div>;
    RenderFragment canclebutton =@<div>
            <Icon Type="close-circle" Theme="outline" />
            ยกเลิก
    </div>;
}*@
<style>
    .tablestyle .ant-table-thead > tr > th {
        position: relative;
        color: #FFFFFF !important;
        font-weight: 600 !important;
        text-align: center !important;
        background: #3B6C43 !important;
        border-bottom: 1px solid #ffffff !important;
        transition: background 0.3s ease;
    }
    .text-end{
        text-align :end;
    }
</style>


<style>
    .tablestyle .ant-table-thead > tr > th {
        position: relative;
        color: #FFFFFF !important;
        font-weight: 600 !important;
        text-align: center !important;
        background: #3B6C43 !important;
        border-bottom: 1px solid #ffffff !important;
        transition: background 0.3s ease;
    }
</style>


<div class="mms-media-center mms">รายละเอียด</div>


@code {
    
   
    
    protected override void OnInitialized()
    {
        
    }


}
