@inject NavigationManager NavigationManager
<style>
    .anticon > .anticon {
        line-height: 0;
        vertical-align: 0;
        color: #ffffff !important;
    }

    .ant-form-item-control-input {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 32px;
        padding-left: 2rem;
    }
</style>
@{
    RenderFragment footer = @<Template>
    </Template>;
}

<Modal Title="แสดงข้อมูลรายการค่าบำรุงรักษาอวัยวะ"
       Visible="@_visible"
       OnCancel="@HandleCancel"
       Footer="@footer"
       Width="1300">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-5 mms-txt-headdetail site-end-colum pLayers-3">
                        <div>หน่วยงาน :</div>
                    </div>
                    <div class="col-sm-7 mms-txt-default pLayers-3">
                        <div>ศูนย์รับบริจากอวัยวะสภากาชาดไทย</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-5 mms-txt-headdetail site-end-colum pLayers-3">
                        <div>เลขประจำตัวประชาชน์ :</div>
                        <div>ชื่อ-นามสกุล :</div>
                        <div>ประเภทบริการ :</div>
                        <div>รหัส claim :</div>
                        <div>แนบไฟล์ใบขอรับค่าบริการ :</div>
                    </div>
                    <div class="col-sm-7 mms-txt-default pLayers-3">
                        <div>1234587957xxx</div>
                        <div>นางสุจินดา  ญาดา</div>
                        <div>OTP10  กระจกตา</div>
                        <div>101200 ค่าเก็บรักษาอวัยวะ(กระจกตา)</div>
                    <div><a style="color: #1890ff;text-decoration: underline;">ใบขอรับค่าบริการ.pdf</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-5 mms-txt-headdetail site-end-colum pLayers-3">
                        <div>สถานพยาบาลอนุมัติสิทธิ์ : </div>
                        <div>วันที่ผ่าตัด :</div>
                        <div>ID Donor :</div>
                        <div>จำนวนเงิน :</div>
                        <div>แนบไฟล์หนังสืออนุมัติสิทธิ์ :</div>
                    </div>
                    <div class="col-sm-7 mms-txt-default pLayers-3">
                        <div>โรงพยาบาลลานนา1</div>
                        <div>29 มี.ค. 2566</div>
                        <div>12345678</div>
                        <div>15,000.00 &nbsp;<span class="mms-txt-headdetail">บาท</span></div>
                    <div><a style="color: #1890ff;text-decoration: underline;">หนังสืออนุมัติสิทธิ์.pdf</a></div>
                    </div>
                </div>
            </div>
        </div>
</Modal>

@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    [Parameter]
    public bool _visible { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    string txtValue { get; set; }

    /*--  CallPage Back AND Next--*/
    public async Task GoNext(int usepage)
    {
        IndexPage.InvokeAsync(1);
    }
    public async Task GoBack(int usepage)
    {
        IndexPage.InvokeAsync(1);
    }
    /* Radio */
    int _value = 1;

    /* modal */
    bool _loading = false;

    private void ShowModal()
    {
        _visible = true;
    }

    private void HandleOk(MouseEventArgs e)
    {
        _loading = false;
        OnClose.InvokeAsync(false);
    }

    private void HandleCancel(MouseEventArgs e)
    {
        _loading = false;
        OnClose.InvokeAsync(false);
    }
    /*-- select --*/
    string _selectedValue;
    string _selectedItem;
    /* -- Date Picker -- */
    string dateformat = "วว/ปป/ดด";
    /* -- Frist Render Name Label -- */
    RenderFragment lauid =>@<div class="mms-txt-headdetail">เลขประจำตัวประชาชน์<span class="star-comment">*</span></div>;
    RenderFragment lacheck =>@<div class="mms-txt-headdetail">หน่วยงาน<span class="star-comment">*</span></div>;
    RenderFragment laname =>@<div class="mms-txt-headdetail">ชื่อ-นามสกุล<span class="star-comment">*</span></div>;
    RenderFragment latype =>@<div class="mms-txt-headdetail">ประเภทบริการ<span class="star-comment">*</span></div>;
    RenderFragment lapass =>@<div class="mms-txt-headdetail">รหัส claim<span class="star-comment">*</span></div>;
    RenderFragment lahos =>@<div class="mms-txt-headdetail">สถานพยาบาลอนุมัติสิทธิ์<span class="star-comment">*</span></div>;
    RenderFragment ladate =>@<div class="mms-txt-headdetail">วันที่ผ่าตัด<span class="star-comment">*</span></div>;
    RenderFragment ladonor =>@<div class="mms-txt-headdetail">ID Donor<span class="star-comment">*</span></div>;
    RenderFragment labut =>@<div class="mms-txt-headdetail">จำนวนเงิน<span class="star-comment">*</span></div>;
    /* -- Model -- */
    public class Model
    {

        public string Size { get; set; } = AntSizeLDSType.Small;
        public string Input { get; set; } = "";
        public string InputArea { get; set; } = "inputArea";
        public string Cascader { get; set; } = "11";
        public DateTime? DatePicker { get; set; } = DateTime.Now;
        public DateTime?[] RangePicker { get; set; } = new DateTime?[] { DateTime.Now, DateTime.Now.AddDays(10) };
        public double Number { get; set; } = 1;
        public bool Switch { get; set; } = true;
        public string Radio { get; set; } = "Beijing";
        public string AutoComplete { get; set; }
        public string Name { get; set; }
        public IEnumerable<string> Names { get; set; } = Array.Empty<string>();
    }
    private Model model = new Model();
    /* -- Upload File --*/
    public string FileName = "";
    public string ImageUri = "";
    public string imgpreview = "";
    List<UploadFileItem> fileList = new List<UploadFileItem>();
    public IBrowserFile bannerFile;

    public async Task LoadImage(InputFileChangeEventArgs inputFileChangeEventArgs)
    {

        FileName = inputFileChangeEventArgs.File.Name;
        bannerFile = inputFileChangeEventArgs.File;
        // Handle CSV file
        if (inputFileChangeEventArgs.File.ContentType == "text/csv")
        {
            using Stream csvStream = inputFileChangeEventArgs.File.OpenReadStream();
            using StreamReader reader = new StreamReader(csvStream);
            string csvContent = await reader.ReadToEndAsync();
            var CsvContent = csvContent; // You can handle the CSV content as needed
            var CsvBase64 = Convert.ToBase64String(Encoding.UTF8.GetBytes(csvContent));
        }

        // Handle XLSX file
        if (inputFileChangeEventArgs.File.ContentType == "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet")
        {
            using Stream xlsxStream = inputFileChangeEventArgs.File.OpenReadStream();
            using MemoryStream ms = new MemoryStream();
            await xlsxStream.CopyToAsync(ms);
            var XlsxBytes = ms.ToArray();
            var XlsxBase64 = Convert.ToBase64String(XlsxBytes);
        }

        StateHasChanged();
    }
}
