.card-main {
    background: #FFFFFF;
    border-radius: 10px;
}

.card-title {
    background: #FFCC41;
    border: 1px solid #FFCC41;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0px 0px;
    padding-left: 33px;
    padding-top: 14px;
}

.text-title-1 {
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.019em;
    color: #334396;
}

.text-detail {
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.019em;
    color: #334396;
}

.serch-bg-1 {
    background: #334396;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    height: 36px;
    color: white;
}



.from-style {
    background: #FFFFFF;
    border-radius: 8px;
}


.btn-back {
    background: #FFFFFF;
    border: 2px solid #334396;
    border-radius: 4px;
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 144%;
    color: #334396;
    width: 173px;
}

.btn-adduser {
    background: #334396;
    border-radius: 4px;
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 144%;
    color: #FFFFFF;
    width: 173px;
}

.f-title {
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: -0.019em;
    color: #334396;
}

.edit-img-user {
    width: 263px;
    height: 298.78px;
}

.txth-from-reg {
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    color: #334396;
}
.txth-from-reg-sub {
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    color: #000;
}

    .btn-l-s {
        background: #334396;
        border-radius: 4px;
        font-family: 'Noto Sans Thai';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 144%;
        color: #FFFFFF;
    }

.btn-r-s {
    background: #FFFFFF;
    border: 2px solid #334396;
    border-radius: 4px;
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 144%;
    color: #334396;
}

.add-img {
    background: #C5CBE6;
    border-radius: 4px;
    Width: 258px;
}

    .mdc-table th {
        line-height: 1.75rem;
        font-weight: 400;
        letter-spacing: .04em;
        text-decoration: inherit;
        text-transform: inherit;
        background-color: #FFCC41;
        font-size: 1.143rem;
        color: #202124;
        text-align: left;
        border: 2px solid white;
        padding: 12px 12px 12px 24px;
        font-family: 'Noto Sans Thai';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: #334396;
    }
