<style>
    .footer-title-text {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .footer-text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #FFFFFF;
    }

    .hr-position {
        width: 148px;
        transform: rotate(90deg);
        color: #fff;
    }

    .link-yellow{
        color: #FFCD41;
    }
    
</style>

<div class="container">
    <div class="row">
        <div class="col mt-5">
            <p class="footer-title-text">สำนักงานประกันสังคม สำนักงานใหญ่</p>

            <p class="footer-text">
                เลขที่ 88/28 หมู่ 4 ถนนติวานนท์ ตำบลตลาดขวัญ อำเภอเมือง <br />
                จังหวัดนนทบุรี รหัสไปรษณีย์ 11000  <br />
                E-mail : info@sso1506.com
            </p>
        </div>
        <div class="col-1 d-flex justify-content-center" style="padding-top:6.5%">
            <hr class="hr-position" />
        </div>

        <div class="col mt-3">
            <div class="wrapper">
                <div class="wrap-icontel">
                    <img src="Data/Assets/Images/tel1506.png" style="Width:158.23px;height:59px" />
                </div>
                <div class="footer-title-text">
                    <span>ช่องทางการติดต่อ </span>
                    
                    <a href="" target="_blank"><img src="Data/Assets/Images/t1.png"style="width:20px;height:20px;"></a>&nbsp;
                    <a href="" target="_blank"><img src="Data/Assets/Images/t2.png" style="width:20px;height:20px;"></a>&nbsp;
                    <a href="" target="_blank"><img src="Data/Assets/Images/t3.png" style="width:20px;height:20px;"></a>&nbsp;
                    <a href="" target="_blank"><img src="Data/Assets/Images/t4.png" style="width:20px;height:20px;"></a>
                </div>
                <div class="text-nowrap footer-text">
                    หากมีข้อสงสัยในการเข้าสู่ระบบ ติดต่อที่ E-mail: <a class="link-yellow" href="mailto:info@sso1506.com">info@sso1506.com</a>
                </div>
                <div class="footer-text">
                    <a href="" target="_blank" title="นโยบายเว็บไซต์" class="link-yellow">นโยบายเว็บไซต์</a> |
                    <a href="" target="_blank" title="นโยบายการคุ้มครองข้อมูลส่วนบุคคล" class="link-yellow">นโยบายความเป็นส่วนตัว </a> |
                    <a href="" target="_blank" title="นโยบายความปลอดภัย" class="link-yellow">นโยบายความปลอดภัย </a>|
                    <a href="" target="_blank" title="นโยบายเว็บไซต์" class="link-yellow">Open API  ข้อจำกัดความรับผิดชอบ</a> |
                    <a href="" target="_blank" title="นโยบายการคุ้มครองข้อมูลส่วนบุคคล" class="link-yellow">แผนผังเว็บไซต์ </a> |
                    <a href="" target="_blank" title="นโยบายความปลอดภัย" class="link-yellow">ติดต่อเรา </a>|
                    <a href="" target="_blank" title="นโยบายเว็บไซต์" class="link-yellow">ช่วยเหลือ</a> |
                    <a href="" target="_blank" title="นโยบายการคุ้มครองข้อมูลส่วนบุคคล" class="link-yellow">คุกกี้ </a> |
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
