@using System.ComponentModel.DataAnnotations;

@{
    RenderFragment footer = @<Template>
    </Template>;
}
<Modal Title="@title"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel"
       Width="800"
       Footer="footer">

    <div class="row py-2">
        <div class="col-sm-12 col-md-6">
            <div class="row">
                <div class="col-6 mms-txt-headdetail site-end-colum">
                    <div>ชื่อสถานประกอบการ :</div>
                    <div>เลขที่บัญชีนายจ้าง :</div>
                    <div>สาขา :</div>
                </div>
                <div class="col-6 mms-text-gray">
                    <div>บริษัท ดีดีคัม จำกัด</div>
                    <div>1001234567890</div>
                    <div>-</div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="row">
                <div class="col-6 mms-txt-headdetail site-end-colum">
                    <div>สถานะ :</div>
                    <div>วันที่จอง :</div>
                    <div>เบอร์โทรศัพท์ :</div>
                </div>
                <div class="col-6 mms-text-gray">
                    <div style="color:red">รอการตรวจ</div>
                    <div>1 ม.ค. 2567 </div>
                    <div>053-2345687</div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-sm-12 col-md-3 mms-txt-headdetail d-flex justify-content-end">ที่อยู่ :</div>
            <div class="col-sm-12 col-md-9 mms-text-gray">
                322 หมู่ 1 ต.ท่าสายลวด อ.แม่สอดรหัสไปรษณีย์ 63110
            </div>
        </div>
        <div class="mms-media-start pLayers-2 pt-5" style="font-weight:700;font-size:20px;">
            <div>จำนวนผู้มีสิทธิ์ทั้งหมด :</div>
            <div class="px-4">5</div>
            <div>คน</div>
        </div>
    </div>
</Modal>

@code {
    string title = "ตรวจสอบข้มูล สิทธิ์วัคซีนเชิงรุก";
    bool loading = false;

    [Parameter]
    public bool _visible { get; set; }
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }
    [Parameter]
    public EventCallback<int> PageIndex { get; set; }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        OnClose.InvokeAsync(false);
    }
    private void HandleOk(MouseEventArgs e)
    {
        OnClose.InvokeAsync(false);

    }

}
