@using System.ComponentModel;
@using sso.mms.fees.ext.Shared.OrganTransplantation.DisbursementRecord
@using sso.mms.fees.ext.Shared.OrganTransplantation.Modals

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์กรณีทุพพลภาพ >> งานวินิจฉัย >> รายละเอียดการประมวลผล</div>
    </div>
    <div class="container py-4">
        <div class="row pb-3 d-flex justify-content-between" style="padding: 24px;">
            <div class="col-xl-3 mms-media-start">
                <div class="mms-txt-headdetail pe-3">
                    <Button Type="@ButtonType.Primary" @onclick="() => OpenModalAddDetail(true)"><i class="fa-solid fa-plus-circle pe-2"></i>เพิ่ม</Button>
                </div>
                <div class="mms-txt-headdetail">
                    <Button Type="@ButtonType.Dashed" Disabled><i class="fa-solid fa fa-sign-in pe-2"></i>ส่งรายการที่เลือกเพื่อส่งเบิก</Button>
                </div>
            </div>
            <div class="col-xl-4 d-flex justify-content-end">
                <Space Direction="@DirectionVHType.Horizontal" Class="w-100">
                    <SpaceItem Class="w-100">
                        <Search Placeholder="เลขประจำตัวประชาชน /เลขบัตรประกันสังคม" EnterButton="true" AllowClear />
                    </SpaceItem>
                </Space>
            </div>
        </div>

        <Table DataSource="@data" Bordered>
            <ColumnDefinitions>
                <Selection />
                <PropertyColumn Title="ลำดับ" Property="c=>c.Key" Width="50" Align="ColumnAlign.Center" />
                <PropertyColumn Title="เลขประจำตัวประชาชน" Property="c=>c.IDCard" Width="150" Align="ColumnAlign.Center" />
                <PropertyColumn Title="ชื่อ-นามสกุล" Property="c=>c.Name" Width="100" Align="ColumnAlign.Center" />
                <PropertyColumn Title="วันที่ผ่าตัด" Property="c=>c.DateOfSurgery" Width="80" Align="ColumnAlign.Center" />
                <PropertyColumn Title="ID Donor" Property="c=>c.IDDonor" Width="80" Align="ColumnAlign.Center" />
                <PropertyColumn Title="ประเภทบริการ" Property="c=>c.TypeService" Width="100" Align="ColumnAlign.Center" />
                <PropertyColumn Title="จำนวนเงิน" Property="c=>c.AmountOfMoney" Width="80" Align="ColumnAlign.Center" />
                <PropertyColumn Title="" Property="c=>c.NoContent" Width="120" Align="ColumnAlign.Center">
                    <img class="mx-1" title="เรียกดู" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" @onclick="(()=>{})" />
                    <img class="mx-1" title="แก้ไข" src="helper_shared/PortalAdminImage/edit.png" style="width:24px;height:24px; cursor:pointer;" @onclick="(()=>{})" />
                    <img class="mx-1" title="เรียกดู" src="helper_shared/PortalAdminImage/delete.png" style="width:24px;height:24px; cursor:pointer;" @onclick="(()=>{})" />
                </PropertyColumn>
            </ColumnDefinitions>
            <PaginationTemplate>
                <Pagination Class="d-flex justify-content-between pt-2" Total="context.Total"
                            PageSize="context.PageSize"
                            Current="context.PageIndex"
                            ShowSizeChanger
                            OnChange="context.HandlePageChange" />
            </PaginationTemplate>
        </Table>
    </div>

</div>

<AddDetailModal _visible="openModal" OnClose="OpenModalAddDetail"></AddDetailModal>




@inject IMessageService message;

@code {

    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    bool openModal { get; set; }

    Data[]? data;

    int pageSize = 5;


    public class Data
    {
        public int Key { get; set; }

        public string? IDCard { get; set; }

        public string? Name { get; set; }

        public string? DateOfSurgery { get; set; }

        public string? IDDonor { get; set; }

        public string? TypeService { get; set; }

        public string? AmountOfMoney { get; set; }

        public string? NoContent { get; set; }

    }



    public void OpenModalAddDetail(bool value)
    {
        openModal = value;
    }

    protected override void OnInitialized()
    {
        data = Enumerable.Range(0, 10).Select(x => new Data
            {
                Key = x,
                IDCard = "Lake Park",
                Name = "John Brown",
                DateOfSurgery = "C",
                IDDonor = "C",
                TypeService = "",
                AmountOfMoney = ""
            }).ToArray();


    }
}