
<Table Bordered DataSource="@data" OnChange="OnChange" TItem="MockUpData" @ref="Table" @bind-PageSize="pageSize">
    <ChildContent>
        <PropertyColumn Title="ลำดับ" Property="c=>c!.Id" Align="ColumnAlign.Center" />
        <PropertyColumn Title="รหัสสถานพยาบาล" Property="c=>c!.HospitalCode" />
        <PropertyColumn Title="สถานพยาบาล" Property="c=>c!.HospitalName" Width="200px" />
        <PropertyColumn Title="คะแนนโรคเรื้อรัง" Property="c=>c!.ChoronicScore" Width="200px" />
        <PropertyColumn Title="ภาระเสี่ยงผู้ป่วยนอก" Property="c=>c!.OutpatientRiskBurden" Width="200px" />
        <SummaryRow>
            <SummaryCell ColSpan="3" Class="text-lg-end">รวม</SummaryCell>
            <SummaryCell>
                1
            </SummaryCell>
            <SummaryCell>
                2
            </SummaryCell>
        </SummaryRow>
    </ChildContent>
    <PaginationTemplate>
        <Pagination Class="pt-2" Total="context.Total"
                    PageSize="context.PageSize"
                    Current="context.PageIndex"
                        ShowSizeChanger
                    OnChange="context.HandlePageChange" />
    </PaginationTemplate>
</Table>

@code {

    Table<MockUpData> Table;

    int pageSize = 5;

    void OnChange(QueryModel<MockUpData> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }

    class MockUpData
    {
        public MockUpData(int id, string hospitalCode, string hospitalName, string choronicScore, string outpatientRiskBurden)
        {
            Id = id;
            HospitalCode = hospitalCode;
            HospitalName = hospitalName;
            ChoronicScore = choronicScore;
            OutpatientRiskBurden = outpatientRiskBurden;
        }
        public int Id { get; set; }
        public string HospitalCode { get; set; }
        public string HospitalName { get; set; }
        public string ChoronicScore { get; set; }
        public string OutpatientRiskBurden { get; set; }
    }

    MockUpData[] data =
    {
            new(1, "25665","โรงพยาบาลบางนา1","656","656"),
            new(2, "25664","โรงพยาบาลบางนา2","774","774"),
            new(3, "25663", "โรงพยาบาลบางนา3","256","256"),
            new(4, "25662","โรงพยาบาลบางนา4","1361","1361"),
            new(5, "25661","โรงพยาบาลบางนา5","565","565"),
             new(1, "25665","โรงพยาบาลบางนา1","656","656"),
            new(2, "25664","โรงพยาบาลบางนา2","774","774"),
            new(3, "25663", "โรงพยาบาลบางนา3","256","256"),
            new(4, "25662","โรงพยาบาลบางนา4","1361","1361"),
            new(5, "25661","โรงพยาบาลบางนา5","565","565"), 
            new(1, "25665","โรงพยาบาลบางนา1","656","656"),
            new(2, "25664","โรงพยาบาลบางนา2","774","774"),
            new(3, "25663", "โรงพยาบาลบางนา3","256","256"),
            new(4, "25662","โรงพยาบาลบางนา4","1361","1361"),
            new(5, "25661","โรงพยาบาลบางนา5","565","565"),

    };
}
