@using System.ComponentModel;


<div class="d-flex flex-column mb-2 ">
    <div class="d-flex">
        <div class="text-label">
            จำนวนโรงพยาบาลทั้งหมด
        </div>
        <div class="margin-input">
            <Input Disabled @bind-Value=@textValue1 />
        </div>
        <div class="text-sub">
            แห่ง
        </div>
    </div>
    <div class="d-flex">
        <div class="text-label">
            ยืนยันว่าเป็นผู้ป่วยโรคเรื้อรังฯ ( ผลเป็น Y )
        </div>
        <div class="margin-input">
            <Input Disabled @bind-Value=@textValue2 />
        </div>
        <div class="text-sub">
            คน
        </div>
    </div>
    <div class="d-flex">
        <div class="text-label">
            ยืนยันว่าไม่เป็นผู้ป่วยโรคเรื้อรัง ฯ หรือไม่ยืนยัน ( ผลเป็น  N )
        </div>
        <div class="margin-input">
            <Input Disabled @bind-Value=@textValue3 />
        </div>
        <div class="text-sub">
            คน
        </div>
    </div>
    <div class="d-flex">
        <div class="text-label">
            จำนวนผู้ป่วยทั้งหมด
        </div>
        <div class="margin-input">
            <Input Disabled @bind-Value=@textValue4 />
        </div>
        <div class="text-sub">
            คน
        </div>
    </div>
</div>


<Table Bordered DataSource="@data" OnChange="OnChange" TItem="MockUpData" @ref="Table" @bind-PageSize="pageSize" >
    <ChildContent>
        <PropertyColumn Title="ลำดับ" Property="c=>c!.Id" Align="ColumnAlign.Center" />
        <PropertyColumn Title="รหัสสถานพยาบาล" Property="c=>c!.HospitalCode" />
        <PropertyColumn Title="สถานพยาบาล" Property="c=>c!.HospitalName" Width="200px" />
        <PropertyColumn Title="ยืนยันว่าเป็นผู้ป่วยโรคเรื้อรัง ฯ ( ผลเป็น Y )" Property="c=>c!.AcceptChoronic" Width="200px" />
        <PropertyColumn Title="ยืนยันว่าไม่เป็นผู้โรคเรื้อรัง ฯ หรือไม่ยืนยัน ( ผลเป็น  N )" Property="c=>c!.NotAcceptChoronic" Width="200px" />
        <PropertyColumn Title="ทั้งหมด" Width="100px" Property="c=>c!.All" />
    </ChildContent>
    <PaginationTemplate>
        <Pagination Class="pt-2" Total="context.Total"
                    PageSize="context.PageSize"
                    Current="context.PageIndex"
                        ShowSizeChanger
                    OnChange="context.HandlePageChange" />
    </PaginationTemplate>
</Table>


@code {

    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    string? textValue1;
    string? textValue2;
    string? textValue3;
    string? textValue4;


    Table<MockUpData> Table;

    int pageSize = 5;

    public async Task Edit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    void OnChange(QueryModel<MockUpData> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }

    class MockUpData
    {
        public MockUpData(
            int id, 
            string hospitalCode, 
            string hospitalName, 
            string acceptChoronic, 
            string notAccept, 
            string all)
        {
            Id = id;
            HospitalCode = hospitalCode;
            HospitalName = hospitalName;
            AcceptChoronic = acceptChoronic;
            NotAcceptChoronic = notAccept;
            All = all;
        }
        public int Id { get; set; }
        public string HospitalCode { get; set; }
        public string HospitalName { get; set; }
        public string AcceptChoronic { get; set; }
        public string NotAcceptChoronic { get; set; }
        public string All { get; set; }
    }

    MockUpData[] data =
    {
            new(1, "25665","โรงพยาบาลบางนา1","656","10",""),
            new(2, "25664","โรงพยาบาลบางนา2","774","21",""),
            new(3, "25663", "โรงพยาบาลบางนา3","256","0",""),
            new(4, "25662","โรงพยาบาลบางนา4","1361","0",""),
            new(5, "25661","โรงพยาบาลบางนา5","565","6",""),
            new(1, "25665","โรงพยาบาลบางนา1","656","10",""),
            new(2, "25664","โรงพยาบาลบางนา2","774","21",""),
            new(3, "25663", "โรงพยาบาลบางนา3","256","0",""),
            new(4, "25662","โรงพยาบาลบางนา4","1361","0",""),
            new(5, "25661","โรงพยาบาลบางนา5","565","6",""),
            new(1, "25665","โรงพยาบาลบางนา1","656","10",""),
            new(2, "25664","โรงพยาบาลบางนา2","774","21",""),
            new(3, "25663", "โรงพยาบาลบางนา3","256","0",""),
            new(4, "25662","โรงพยาบาลบางนา4","1361","0",""),
            new(5, "25661","โรงพยาบาลบางนา5","565","6",""),

    };

}
