.bg-card {
    border-radius: 10px;
    background: #FFF;
    min-height: 760px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-txt-title {
    color: #334396;
    font-size: 32px;
    font-family: Noto Sans Thai;
    font-style: normal;
    font-weight: 600;
}
.from-style {
    border-radius: 6px;
    border: 2px solid #D4D2D5;
    background: #FFF;
}
.title-sub-from {
    color: #334396;
    font-size: 19px;
    font-family: Noto Sans Thai;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.title-red{
    color:red;
}
.form-check-input:checked {
    background-color: #334396;
    border-color: #334396;
    width: 25px;
    height: 25px;
}

.form-check-input[type=radio] {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.txt-upload {
    color: #334396;
    font-size: 20px;
    font-family: Noto Sans Thai;
    font-weight: 500;
    line-height: 150%;
}

.txt-upload-detail {
    color: #909090;
    font-size: 18px;
    font-family: Noto Sans Thai;
    font-weight: 500;
    line-height: 150%;
}

.div-file-upload {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    background: #C5CBE673;
}
.btn-edit {
    border-radius: 4px;
    background: #334396;
    font-family: Noto Sans Thai;
    font-style: normal;
    font-weight: 600;
}
.btn-bo-main {
    border-radius: 4px;
    border: 2px solid #334396;
    background: #FFF;
    color: #334396;
    font-size: 18px;
    font-family: Noto Sans Thai;
    font-style: normal;
    font-weight: 600;
}
.btn-sa-main {
    border-radius: 4px;
    border: 2px solid #334396;
    background: #334396;
    color: #ffffff;
    font-size: 18px;
    font-family: Noto Sans Thai;
    font-style: normal;
    font-weight: 600;
}

