<h3>ProgressAIExportExcel</h3>

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ตามภาระเสี่ยง</div>
    </div>
    <div class="container py-4">
        <div class="mms-txt-header py-2">ผลการประมวลด้วย AI</div>
        <hr />
        <div class="mms-media-end mb-2">
        </div>
    </div>
</div>
@code {

}
