@using sso.mms.fees.admin.Shared.RiskExposure.ProgressAI.Modals
<style>

     .search-bar {
        display:flex;
        align-items:center;
        justify-content: space-around;
     }

     .input-form {
        display:flex;
        text-wrap: nowrap;
        padding-right: 5px;
        align-items:center;
     }

     .align-search {
        display: flex;
        flex-direction: column;
        justify-content: end;
     }

</style>

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ตามภาระเสี่ยง</div>
    </div>
    <div class="container py-4">
        <div class="mms-txt-header py-2">ผลการประมวลด้วย AI/@InstallmentNo</div>
        <hr />
        <div class="search-bar mb-2">
            <div class="d-flex align-content-center">
                <div class="input-form">จำนวนโรงพยาบาลทั้งหมด</div>
                <Input Style="width: 80px;" Placeholder="36" @bind-Value="@amountHospital" Disabled />
             </div>
             <div class="d-flex align-content-center">
                 <div class="input-form">จำนวนผู้ป่วยจาก AI</div>
                 <Input Style="width: 80px;" Placeholder="189" @bind-Value="@amountPatient" Disabled />
             </div>
             <div class="align-search">
                 <InputGroup Compact>
                    <Search Placeholder="ข้อมูลที่ต้องการค้นหา" AllowClear  WrapperStyle="width: 100%;" />
                 </InputGroup>
             </div>
         </div>

         <Table Bordered DataSource="@data" OnChange="OnChange" TItem="MockUpData" @ref="Table" @bind-PageSize="pageSize" Class="pb-5">
             <ChildContent>
                 <PropertyColumn Title="ลำดับ" Property="c=>c!.Id" Align="ColumnAlign.Center" />
                 <PropertyColumn Title="งวดที่" Property="c=>c!.HospitalCode" Align="ColumnAlign.Center" />
                 <PropertyColumn Title="วันที่นำเข้าข้อมูล" Property="c=>c!.HospitalName" Align="ColumnAlign.Center" />
                 <PropertyColumn Title="วันที่ประมวลผล" Property="c=>c!.AmountList" Align="ColumnAlign.Center" />
                 <PropertyColumn Title="สถานะ" Property="c=>c!.ShowDetail" Align="ColumnAlign.Center" />
                 <PropertyColumn Title="" Width="100px" Property="c=>c!.ShowDetail" Align="ColumnAlign.Center">
                     <img class="mx-2" src="helper_shared/PortalAdminImage/eye.png"
                          style="width:24px;height:24px; cursor:pointer;" @onclick="(() => OnClose(true))" />
                 </PropertyColumn>
             </ChildContent>
             <PaginationTemplate>
                 <Pagination Class="pt-2" Total="context.Total"
                             PageSize="context.PageSize"
                             Current="context.PageIndex"
                                        ShowSizeChanger
                             OnChange="context.HandlePageChange" />
             </PaginationTemplate>
         </Table>
     </div>
 </div>

 <ListOfInsuredPersons _visible="@openModal" OnClose="OnClose"></ListOfInsuredPersons>

 @code {

    [Parameter]
    public string InstallmentNo { get; set; }

    [Parameter]
    public EventCallback<(int, string)> IndexPage { get; set; }


    public bool openModal { get; set; }


    public void OnClose(bool close)
    {
        openModal = close;
    }


    public string amountHospital { get; set; }
    public string amountPatient { get; set; }


    int pageSize = 5;

    Table<MockUpData> Table;

    public async Task OnPage(int page, string installment)
    {
        await IndexPage.InvokeAsync((page, installment));
    }

    protected override async Task OnInitializedAsync()
    {

        Console.WriteLine(InstallmentNo);

    }

    class MockUpData
    {
        public MockUpData(int id, string hospitalCode, string hospitalName, string amountList, string showDetail)
        {
            Id = id;
            HospitalCode = hospitalCode;
            HospitalName = hospitalName;
            AmountList = amountList;
            ShowDetail = showDetail;
        }
        public int Id { get; set; }
        public string HospitalCode { get; set; }
        public string HospitalName { get; set; }
        public string AmountList { get; set; }
        public string ShowDetail { get; set; }
    }

    MockUpData[] data =
    {
            new(1, "32600","โรงพยาบาลเชียงใหม่","4",""),
            new(2, "33003","โรงพยาบาลบางนา1","10",""),
            new(3, "73140","โรงพยาบาลบางนา","4",""),
            new(4, "66683","โรงพยาบาชลบุรี","2","")
    };

    void OnChange(QueryModel<MockUpData> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }
}
