<style>
    .bg-color-gray {
        background-color: #D8D6D6;
    }
</style>
<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3" > ค่าบริการทางการแพทย์กรณีการผ่าตัดแบบวันเดียวกลับ (ODS)</div>
    </div>

    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">ประวัติการเบิกจ่าย</span>
                </li>
            </ol>
        </nav>
        <hr />
        <div class="py-4">
            <div class="row">
                <div class="d-flex  mms-media-center">
                    <div class="col-4 mms-media-start">
                        <div class="">
                        </div>
                    </div>
                    <div class="col-4 mms-media-end" style="text-align:center">
                       
                    </div>
                    <div class="col-4 ">
                        <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch  col-12">
                            <SpaceItem>
                                <Search Placeholder="ข้อมูลที่ต้องการค้นหา" EnterButton="true" />
                            </SpaceItem>
                        </Space>
                    </div>
                </div>
            </div>
            <Table DefaultExpandAllRows DataSource="data"  Bordered ScrollX="1000">
                <PropertyColumn Property="c=>c.Id" Title="ลำดับ" Align="ColumnAlign.Center" />
                <PropertyColumn Property="c=>c.year" Title="ปีงบประมาน" Align="ColumnAlign.Center" />
                <PropertyColumn Property="c=>c.PayNo" Title="เลขชุดคำสั่งจ่าย" Align="ColumnAlign.Center" />
                <PropertyColumn Property="c=>c.Amount" Title="จำนวนเงิน (บาท)" Align="ColumnAlign.Center">
                        @String.Format("{0:n}", context.Amount)
                </PropertyColumn>

                <PropertyColumn Property="c=>c.DatePay" Title="วันที่จ่าย" Align="ColumnAlign.Center">
           
                    @if (context.DatePay == null)
                    {
                        <span>-</span>
                    }
                    else
                    {
                        @ThaiDateFormat.FormatShotMonth(context.DatePay)
                    }
                </PropertyColumn>
                <PropertyColumn Property="c=>c.Status" Title="สถานะ" Align="ColumnAlign.Left">

                    @if (context.Status == "1")
                    {
                        <span style="color:orangered"><span class="status-color-orangered me-2"></span>รอจ่าย</span>

                    }
                    else if (context.Status == "2")
                    {
                        <span style="color:green"><span class="status-color-green me-2"></span>จ่ายเเล้ว</span>

                    }

                </PropertyColumn>
                <PropertyColumn Property="c=>c.year" Title="" Align="ColumnAlign.Center" Width="17%">
                  
                        <img class="mx-2" title="ดู" src="helper_shared/PortalAdminImage/eye.png"
                         style="width:24px;height:24px; cursor:pointer;" @onclick="@(()=> Indexpage(2,context.year))" />
                   
                </PropertyColumn>


            </Table>
        </div>
    </div>
</div>

@if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }
    </style>

    <LoadingPage></LoadingPage>
}

@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel;
@code {
    ColumnAlign columnAlign = ColumnAlign.Left;
    [Parameter]
    public EventCallback<(int, string, string)> IndexPage { get; set; }

    IEnumerable<Data> selectedRows;
    int page;
    bool openConfirmModal { get; set; }
    bool openViewDataModal { get; set; }
    string Placeholder = "วว/ดด/ปปปป";
    bool _visible = false;
    bool isloading = false;

    List<Data> _data;

    public class Data
    {
        public bool HosStatus { get; set; }
        public string Id { get; set; }
        public string Key { get; set; }
        public string year { get; set; }
        public string Name { get; set; }
        public string PayNo { get; set; }
        public int Amount { get; set; }
        public string Status { get; set; }
        public DateTime? DatePay { get; set; }

    }

    List<Data> data = new List<Data>();

    string _selectedValue;


    protected override async Task OnInitializedAsync()
    {
        isloading = true;
        data = new List<Data>
    {
        new Data {
            HosStatus  = true,
            Id = "1",
            Key = "1",
            year = "2566/3",
            DatePay = null,
            PayNo ="STM0001",
            Amount =34000,
            Status ="1" //1 รออนุมัติ 2 อนุมัติแล้ว
        },
        new Data {
            HosStatus  = true,
            Id = "2",
            Key = "2",
            year = "2565/2",
             DatePay = new DateTime(2023, 2, 13),
             PayNo ="STM0002",
            Amount =20000,
            Status ="2"
        },
        new Data {
            HosStatus  = true,
            Id = "3",
            Key = "3",
            year = "2565/1",
             DatePay = new DateTime(2023, 1, 15),
             PayNo ="STM0002",
            Amount =16500,
            Status ="2"
        },
    };


        isloading = false;
        StateHasChanged();
    }
    public void OpenConfirmModal(bool value)
    {
        openConfirmModal = value;
    }
    public void OpenViewDataModal(bool value)
    {
        openViewDataModal = value;
    }
    public async Task Indexpage(int usepage, string year)
    {
        this.page = usepage;
        if (this.page == 2)
        {
            await IndexPage.InvokeAsync((2, year, ""));
        }
    }
}
