@using MatBlazor
@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel;
@inject ModalService _modalService

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ทันตกรรม</div>
    </div> 
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">สืบค้นข้อมูลผู้ประกันตน</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">ค้นหา</span>
                </li>
            </ol>
        </nav>
        <hr style="width:100%" />
        <div class="row d-flex justify-content-center">
            <div class="row d-flex justify-content-center">
            <img class="mx-2 mms-media-center" src="helper_shared/PortalAdminImage/userdetail.png" style="width:260px;height:190px;" />
            </div>
            <br />
            <br />
            <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch  " Style="width:270px;">
                <SpaceItem>
                    <Search @bind-Value="@txtValue" Placeholder="เลขประจำตัวประชาชน / ชื่อ-นามสกุล" EnterButton="true" OnPressEnter="OnEnter" OnSearch="OnSearch" />
                    @*  OnChange="(string e)=>SearchData(e)" *@
                </SpaceItem>
            </Space>
        </div>
     
    </div>
    

</div>


@code {
    [Parameter] 
    public EventCallback<int> PageIndex { get; set; }

    string txtValue;

    protected override void OnInitialized()
    {


    }
    public async Task OnSearch()
    {
        await PageIndex.InvokeAsync(2);

    }
    private async Task OnEnter(KeyboardEventArgs e)
    {
        await PageIndex.InvokeAsync(2);

    }

}

