@using sso.mms.fees.admin.Shared.PocketBook.Modals.TreatmentsAndMedications


<style>
    .card-view .ant-card-head {
        min-height: 48px;
        margin-bottom: -1px;
        padding: 0 24px;
        color: #334396;
        font-weight: 500;
        font-size: 16px;
        background: #FFC326 !important;
        border-bottom: 1px solid #f0f0f0;
        border-radius: 2px 2px 0 0;
        text-align: center;
    }

    .title-head-center .ant-card-head-title {
     text-align:center;
    }


</style>

<Card Class="card-view title-head-center" Bordered="false" Title=@("ประเภทการรักษาผู้ป่วยใน")
      Style="width: 900px;border: solid 0.1em #DEDEDE;">
    <Body>
        <div class="container">
            <div class="row">
                <div class="col d-flex">
                    <div class="label-title">
                        ปลูกถ่ายอวัยวะ :
                    </div>
                    <div class="text-title">
                     โรงพยาบาลลานนา
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex">
                    <div class="label-title">
                        วันที่ :
                    </div>
                    <div class="text-title">
                        13  ม.ค  66 - 30  ม.ค  66
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex">
                    <div class="label-title">
                        การรักษา :
                    </div>
                    <div class="text-title">
                        โรคเส้นเลือดสมองแตก  ...
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex">
                    <div class="label-title">
                        ยาที่ได้รับ :
                    </div>
                    <div class="text-title">
                        apixaban , dadigatran ...
                    </div>
                     
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <Button Type="@ButtonType.Primary" OnClick="(() => OpenDetailInpatient(true))">ดูรายละเอียดเพิ่มเติม</Button>
        </div>
    </Body>
</Card>

<DetailInpatient _visible="@openDetailInpatient" OnClose="@OpenDetailInpatient" />
@code {

    bool openDetailInpatient { get; set; }


    public void OpenDetailInpatient(bool value)
    {
        openDetailInpatient = value;
    }

}
