<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ กรณี Package โรคหัวใจและหลอดเลือด กับสถานพยาบาลในความตกลง</div>
    </div>
    <div class="container py-4">
        <div class="mms-txt-header py-2">รายการขอเบิก</div>
        <hr />
        <div class="d-flex justify-content-between">
            <Button Class="me-2" Type="@ButtonType.Primary"><i class="fa-regular fa-square-caret-right"></i>&nbsp;อนุมัติรายการจ่าย</Button>
            <Space Direction="@DirectionVHType.Horizontal">
                <SpaceItem>
                    <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" AllowClear />
                 </SpaceItem>
             </Space>
         </div>
         <div class="mt-3">
             <Table DataSource="data" OnChange="OnChange" TItem="Data">
                 <Selection Key="@(context.Id.ToString())" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
                 <Column Title="ลำดับ" DataIndex="No" TData="int" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
                 <Column Title="ปีงบประมาณ" DataIndex="Year" TData="string" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
                 <Column Title="เลขชุดคำสั่งจ่าย" DataIndex="PaymentNo" TData="string" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
                 <Column Title="จำนวนรายการ" DataIndex="TotalList" TData="int" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
                 <Column Title="ยอดการเบิกรวม" DataIndex="SumAmount" TData="string" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
                 <Column TData="string" DataIndex="Status" Title="วินิจฉัย" Style="text-align:center;background: #EAE8EC;">
                        @if (context.Status == "ลงรายมือชื่อแล้ว")
                        {
                            <span style="color: green;">ลงรายมือชื่อแล้ว</span>
                        }
                        else
                        {
                            <span style="color: red;">รอลงลายมือชื่อ</span>
                        }
                </Column>
                 <Column Title="" DataIndex="Detail" TData="string" Align="ColumnAlign.Center" Width="80px" Style="background: #EAE8EC;">
                      <img class="mx-2" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px;" @onclick=@(() => Detail(2)) />
                 </Column>
             </Table>
         </div>
     </div>
 </div>

 @code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    public async Task Detail(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    public record Data(int Id, int No, string Year, string PaymentNo, int TotalList, string SumAmount, string Status, string Detail);

    public Data[] data =
    {
        new(1,1,"2566/3","STM001", 8, "128,000.00","รอลงรายมือชื่อ",""),
        new(2,2,"2566/2","STM002", 6, "128,000.00","ลงรายมือชื่อแล้ว",""),
        new(3,3,"2566/1","STM003", 5, "128,000.00","ลงรายมือชื่อแล้ว",""),
    };

    void OnChange(QueryModel<Data> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }
}