
<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ตามภาระเสี่ยง</div>
    </div>
    <div class="container py-4">
        <div class="mms-txt-header py-2">กำหนดสูตรการคำนวณ</div>
        <hr />

        <div class="mms-media-end">
            <Space Direction="@DirectionVHType.Vertical" Class="d-flex justify-content-end">
                <SpaceItem>
                    <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true"  AllowClear/>
                </SpaceItem>
            </Space>
        </div>
        <div class="mt-3">
            <Table DataSource="data" OnChange="OnChange" TItem="Data">
                <Column Title="ลำดับ" DataIndex="No" TData="string" Align="ColumnAlign.Center" />
                <Column Title="ปีงบประมาณ" DataIndex="YearBudget" TData="string" Align="ColumnAlign.Center" />
                <Column Title="วันที่แก้ไข" DataIndex="DateEdit" TData="string" Align="ColumnAlign.Center" />
                <Column Title="" DataIndex="NoContent" TData="string" Align="ColumnAlign.Center" Width="80px">
                    @*if check can edit or see detail*@
                    <img class="mx-2" src="helper_shared/PortalAdminImage/edit.png" style="width:24px;height:24px;" @onclick=@(() => Edit(2)) />
                </Column>
            </Table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    public async Task Edit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    void OnChange(QueryModel<Data> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }

    public record Data(string No, string YearBudget, string DateEdit, string NoContent);

    public Data[] data =
    {
        new("1","2566","01/01/2566 ",""),
        new("2","2565","01/01/2565",""),
        new("3","2564","01/05/2564",""),
    };

}
