@using mms.fees.admin.Shared.AdjRW.WithDrawRequestList.Tab

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ AdjRW</div>
    </div>
    <div class="container py-4">
        <div class="mms-txt-header py-2">รายการขอเบิก</div>
        <hr />
        <div class="row">
            <div class="col-md-12 col-xl-7">
                <div class="mms-media-start">
                    <div class="mms-txt-headdetail w-50">รอบการนำเข้าข้อมูลประจำเดือน</div>
                    <Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled />
                </div>
            </div>
            <div class="col-md-12 col-xl-5">
                <div class="mms-media-start">
                    <div class="mms-txt-headdetail col-4">วันที่ประมวลผล</div>
                    <Input Placeholder="Basic usage" @bind-Value="@txtValue" Disabled />
                </div>
            </div>
        </div>
        <hr/>
        <Tabs @bind-ActiveKey="@activeKey" OnChange="OnTabChange" Animated>
            <TabPane Tab="HMain = HCode" Key="1">
                <HMainHCode_Tab1></HMainHCode_Tab1>
            </TabPane>
            <TabPane Tab="HMain <> HCode" Key="2">
                <HMainHCode_Tab2></HMainHCode_Tab2>
            </TabPane>
        </Tabs>
    </div>
</div>
@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    string txtValue { get; set; }
    string activeKey = "1";

    void OnTabChange(string key)
    {
        Console.WriteLine($"tab change:{key}");
    }
    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }
}
