
<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ AdjRW</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">จัดการวงเงินงบประมาณ</span>
                </li>
            </ol>
        </nav>
        <hr />
        <div class="row py-4">
            <div class="col-sm-12 col-md-6"></div>
            <div class="mms-media-end col-sm-12 col-md-6">
                <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-75">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
                    </SpaceItem>
                </Space>
            </div>
        </div>
        <Table Class="zebra-striped-table" Bordered DataSource="data" TItem="Data">
             <ColumnDefinitions>
                 <PropertyColumn Property="c=>c.Id" Align="ColumnAlign.Center" Title="ลำดับ" Width="7%" />
                 <PropertyColumn Property="c=>c.period" Align="ColumnAlign.Center" Title="รหัสสถานพยาบาล" />
                 <PropertyColumn Property="c=>c.startDate" Align="ColumnAlign.Center" Title="ชื่อสถานพยาบาล" />
                 <PropertyColumn Property="c=>c.endDate" Align="ColumnAlign.Center" Title="จำนวนรายการตรวจ" />
             </ColumnDefinitions>
             <PaginationTemplate>
                 <Pagination Class="pt-2"
                             Total="context.Total"
                             PageSize="context.PageSize"
                             Current="context.PageIndex"
                                        ShowSizeChanger
                             OnChange="context.HandlePageChange" />
             </PaginationTemplate>
         </Table>
         <div class="mms-media-end">
             <div>
                 <Button Class="ant-btn-distable" @onclick=@(() => goBack(2))><i class="fa-solid fa-circle-chevron-left"></i> &nbsp; ย้อนกลับ</Button>
             </div>
         </div>
     </div>
 </div>


@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    string txtValue { get; set; }

    public record Data(int Id, string period, string startDate, string endDate, string status);
    public Data[] data =
    {
        new(1,"2566/5", "25/05/2566", "26/05/2566", "รอประมวลผล"),
        new(2,"2566/4", "25/04/2566", "26/04/2566", "รอประมวลผล"),
        new(3,"2566/3", "25/03/2566", "26/03/2566", "รอประมวลผล"),
        new(4,"2566/2", "25/02/2566", "26/02/2566", "รอประมวลผล"),
        new(5,"2566/1", "25/01/2566", "26/01/2566", "รอประมวลผล"),

    };
    public async Task goBack(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    RenderFragment _audioIcon =@<Icon Type="audio" Theme="outline" Style="color: #1890ff" />;

    public class Todo
    {
        public int UserId { get; set; }
        public int Id { get; set; }
        public string Title { get; set; }
        public bool Completed { get; set; }

        public Todo()
        {
        }
    }

    Todo[] todos;



}