
<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3" > ค่าบริการทางการแพทย์กรณีการผ่าตัดแบบวันเดียวกลับ (ODS)</div>
    </div>

    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">สถานพยาบาลตามสิทธิ์ ODS</span>
                </li>
            </ol>
        </nav>
        <hr />
        <div class="py-4">
            <div class="row">
                <div class="col-4 mms-media-start">
                       
                </div>
                <div class="col-4  align-content-center">
                       
                </div>
                <div class="col-4 ">
                    <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch  col-12">
                        <SpaceItem>
                            <Search Placeholder="ข้อมูลที่ต้องการค้นหา" EnterButton="true" />
                        </SpaceItem>
                    </Space>
                </div>
            </div>
                <Table DefaultExpandAllRows DataSource="data" Bordered ScrollX="1000">
                    <PropertyColumn Property="c=>c.Id" Title="ลำดับ" Align="ColumnAlign.Center" Width="10%" >
                        @String.Format("{0:d}",data.IndexOf(context)+1)
                    </PropertyColumn>
                    <PropertyColumn Property="c=>c.Key" Title="รหัสสถานพยาบาล" Align="ColumnAlign.Center"/>
                    <PropertyColumn Property="c=>c.Name" Title="สถานพยาบาล" Align="ColumnAlign.Center"/>
                    <PropertyColumn Property="c=>c.HosType" Title="ประเภท" Align="ColumnAlign.Center" />
                    <PropertyColumn Property="c=>c.DatePay" Title="วันที่มีผล" Align="ColumnAlign.Center" >
                        @ThaiDateFormat.FormatShotMonth(context.DatePay)
                    </PropertyColumn>
                       
                    <PropertyColumn Property="c=>c.year" Title="" Align="ColumnAlign.Center" Width="7%">

                        <img class="mx-2" title="ดู" src="helper_shared/PortalAdminImage/eye.png"
                                style="width:24px;height:24px; cursor:pointer;" @onclick="@(()=> Indexpage(2,context.Name))" />
                    </PropertyColumn>
                </Table>
        </div>
     </div>
 </div>

    @if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }
    </style>

    <LoadingPage></LoadingPage>
}

@using System.ComponentModel.DataAnnotations;
@using System.Text.Json;
@using System.ComponentModel;
@code {
    ColumnAlign columnAlign = ColumnAlign.Left;
    [Parameter]
    public EventCallback<(int, string, string)> IndexPage { get; set; }

    IEnumerable<Data> selectedRows;
    int page;
    bool openConfirmModal { get; set; }
    bool openViewDataModal { get; set; }
    string Placeholder = "วว/ดด/ปปปป";
    bool _visible = false;
    bool isloading = false;

    List<Data> _data;

    public class Data
    {
        public bool HosStatus { get; set; }
        public string Id { get; set; }
        public string Key { get; set; }
        public string year { get; set; }
        public string Name { get; set; }
        public string HosType { get; set; }
        public int Amount { get; set; }
        public string Status { get; set; }
        public DateTime? DatePay { get; set; }

    }

    List<Data> data = new List<Data>();

    string _selectedValue;


    protected override async Task OnInitializedAsync()
    {
        isloading = true;
        data = new List<Data>
    {
        new Data {
            HosStatus  = true,
            Id = "1",
            Key = "54626",
            year = "2566/3",
            Name ="โรงพยาบาล1",
            DatePay = new DateTime(2023,5,20),
            HosType ="รัฐบาล",
            Amount =34000,
            Status ="1" //1 รออนุมัติ 2 อนุมัติแล้ว
        },
        new Data {
            HosStatus  = true,
            Id = "2",
            Key = "46527",
            year = "2565/2",
            Name ="โรงพยาบาล2",
            DatePay = new DateTime(2023,5,20),
            HosType ="เอกชน",
            Amount =20000,
            Status ="2"
        },
        
    };


        isloading = false;
        StateHasChanged();
    }
    public void OpenConfirmModal(bool value)
    {
        openConfirmModal = value;
    }
    public void OpenViewDataModal(bool value)
    {
        openViewDataModal = value;
    }
    public async Task Indexpage(int usepage, string year)
    {
        this.page = usepage;
        if (this.page == 2)
        {
            await IndexPage.InvokeAsync((2, year, ""));
        }
    }
}
