<Table DataSource="data" Bordered HidePagination>
    <Selection />
    <PropertyColumn Title="ลำดับ" Property="c=>c.No" />
    <PropertyColumn Title="เลขประจำตัวประชาชน" Property="c=>c.IDCard" />
    <PropertyColumn Title="ชื่อ-นามสกุล" Property="c=>c.Name" />
    <PropertyColumn Title="วันที่ใช้บริการ" Property="c=>c.Date" />
    <PropertyColumn Title="ระดับความรุนแรง" Property="c=>c.SeverityLevel" />
    <PropertyColumn Title="จำนวน IU" Property="c=>c.AmountIU" />
    <PropertyColumn Title="จำนวนเงิน(บาท)" Property="c=>c.AmountOfMoney" />
    @*@{
    var totalBorrow = data.Sum(x => x.borrow);
    var totalRepayment = data.Sum(x => x.repayment);
    } *@
    <SummaryRow>
        <SummaryCell Class="bg-white" ColSpan="7">
            <div class="fw-bold text-end">5</div>
        </SummaryCell>
        <SummaryCell Class="bg-white" ColSpan="8">
            <div class="fw-bold">577,838.00</div>
        </SummaryCell>
    </SummaryRow>
</Table>
<Pagination Class="py-3"
            ShowSizeChanger
            OnShowSizeChange="OnShowSizeChange"
            DefaultCurrent="3"
            Total="500" />

@code {

    record Data(
        string No,
        string IDCard,
        string Name,
        string Date,
        string SeverityLevel,
        string AmountIU,
        string AmountOfMoney
    );

    Data[] data = new Data[]
    {
        new("1","1101201267891","นายเมธี ส่องแสง","12 มี.ค. 66","A1 รุนแรงมาก","3","360,000.00"),
        new("2","1102345678925","นายนรง มีศักดิ์","12 มี.ค. 66","A2 ปานกลาง","1","201,288.00"),
        new("3","1108954632579","นายยิ้มแย้ม แจ่มใส","12 มี.ค. 66","B3 รุนแรงน้อย","1","16,550.00"),
    };

    void OnChange(QueryModel<Data> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }

    private void OnShowSizeChange(PaginationEventArgs args)
    {
        var (current, pageSize) = args;
        Console.WriteLine($"{current}, {pageSize}");
    }
 }