<Table DataSource="data" Bordered HidePagination ScrollX="500">
    <Selection />
    <PropertyColumn Title="ลำดับ" Property="c=>c.No" Width="100px" />
    <PropertyColumn Title="HN" Property="c=>c.HN" Width="100px" />
    <PropertyColumn Title="AN" Property="c=>c.AN" Width="100px" />
    <PropertyColumn Title="เลขประจำตัวประชาชน" Property="c=>c.IDCard" Width="100px" />
    <PropertyColumn Title="ชื่อ-นามสกุล" Property="c=>c.Name" Width="100px" />
    <PropertyColumn Title="ประเภท" Property="c=>c.Type" Width="100px" />
    <PropertyColumn Title="วันที่รักษา" Property="c=>c.Treat" Width="100px" />
    <PropertyColumn Title="วันที่จำหน่าย" Property="c=>c.SalesDate" Width="100px" />
    <PropertyColumn Title="จำนวนเงิน(บาท)" Property="c=>c.Amount" Width="100px" />
    <PropertyColumn Title="" Property="c=>c.NoContent" Align="ColumnAlign.Center" Width="70px">
        <img class="mx-2" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px;" @onclick=@(() => ViewDetail(2)) />
    </PropertyColumn>
</Table>
<Pagination Class="py-3"
            ShowSizeChanger
            OnShowSizeChange="OnShowSizeChange"
            DefaultCurrent="3"
            Total="500" />

@code {

    record Data(
        string No,
        string HN,
        string AN,
        string IDCard,
        string Name,
        string Type,
        string Treat,
        string SalesDate,
        string Amount,
        string NoContent
    );

    Data[] data = new Data[]
    {
        new("1","650112847","65-04931","1101201267891","นายเมธี ส่องแสง","รุนแรงมาก","25/05/2566","26/05/2566","360,000.00",""),
        new("2","630182090","65-05227","1102345678925","นายนรง มีศักดิ์","รุนแรงปานกลาง","15/07/2566","16/07/2566","201,288.00",""),
        new("3","650328833","65-05737","1108954632579","นายยิ้มแย้ม แจ่มใส","รุนแรงน้อย","05/01/2566","06/01/2566","16,550.00",""),
    };

    void OnChange(QueryModel<Data> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }

    private void OnShowSizeChange(PaginationEventArgs args)
    {
        var (current, pageSize) = args;
        Console.WriteLine($"{current}, {pageSize}");
    }

    private void ViewDetail(int open)
    {
    }
}