@using sso.mms.fees.admin.Shared.OrganTransplantation.Payrate.Components

<style>
    .text-title-payrate {
        color: #3D3D3D;
        text-align: start;
        font-family: Noto Sans Thai;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 100% */
        letter-spacing: 0.2px;
    }
    .background-title {
        background-color: #D8D6D6;
    }
</style>

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">การปลูกถ่ายอวัยวะ / กำหนดอัตราจ่าย</div>
    </div>
    <div class="container py-4">
        <div class="mb-5">
            <SettingOTPTable1 />
        </div>
        <div class="mb-5">
            <SettingOTPTable2 />
        </div>
        <div>
            <SettingOTPTable3 />
        </div>
    </div>
</div>


@code {

}
