@using System.ComponentModel;
@using sso.mms.fees.ext.Shared.OrganTransplantation.DisbursementLists.Component

<style>
    .ant-tabs-tab-btn {
        color: white;
        background : green;
        border-radius:initial;
    }

</style> 




<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">การปลูกถ่ายอวัยวะ/รายการที่ส่งเบิก/ประเภทบริการไต</div>
    </div>
    <div class="container py-4">



        <div style="padding-top:15px;">
        </div>
        <hr />
        <div class="mms-txt-headdetail">สรุปรายการที่ส่งเบิก</div>
        <br />
        <Table1></Table1>
            <div style="padding-top:15px;">
            </div>
            <hr />
            <div class="mms-txt-headdetail">รายการที่ส่งเบิกแยกตามประเภทบริการ</div>
            <br />
        <Tabs  @bind-ActiveKey="@activeKey" OnChange="OnTabChange" Animated>
            <TabPane class="ant-tabs-tab-btn" Tab="กระจกตา" Key="1">
                <TableTab2 ></TableTab2>
            </TabPane>
            <TabPane class="ant-tabs-tab-btn"  Tab="เซลล์ต้นกำเนิดเม็ดโลหิต" Key="2">
                <TableTab3 ></TableTab3>
            </TabPane>
        </Tabs>
        </div>
    </div>

@*  @using MatBlazor
    @using System.ComponentModel.DataAnnotations;
    @using System.Text.Json;
    @using System.ComponentModel;
    @using sso.mms.fees.ext.Shared.OrganTransplantation.DisbursementLists; 
    @inject NavigationManager Navigation
    @inject ModalService _modalService *@

    @code {

    string activeKey { get; set; } = "1";

    void OnTabChange(string key)
    {
        Console.WriteLine($"tab change:{key}");
    }

}

