@using Microsoft.AspNetCore.Components.Web
@namespace sso.mms.fees.admin.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/Sidebar.css" rel="stylesheet" />
    <link href="css/Table.css" rel="stylesheet" />
    <link href="sso.mms.fees.admin.styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="helper_shared/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="helper_shared/bootstrap/css/bootstrap.min.css" />
    <script src="helper_shared/bootstrap/js/bootstrap.min.js"></script>
    <script src="helper_shared/jquery/jquery.min.js"></script>
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
    <script src="_content/AntDesign/js/ant-design-blazor.js"></script>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body style="background: #F5F3F7;">
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.server.js"></script>

    <!-- chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"></script>
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    

    <script>

            window.createChart = function (options) {
                console.log("options", options);
                console.log("options", options.canvasId);
                var element = document.getElementById(options.canvasId);
                console.log("element", element);
                var ctx = element.getContext("2d");

            // Add the datalabels plugin to the options
            options.options.plugins = options.options.plugins || {};
            options.options.plugins.datalabels = options.chartData.datasets[0].datalabels;
                var myLine = new Chart(ctx, {
                    type: options.chartType,
                    data: options.chartData,
                    options: options.options,
                    showTooltips: true,
                    onAnimationComplete: window[options.onAnimationComplete]
                });
        }
    </script>

    <script src="_content/CurrieTechnologies.Razor.SweetAlert2/sweetAlert2.min.js"></script>

</body>
</html>
