.bg-reg-color {
    background: #F5F3F7;
}

.text-title {
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 144%;
    color: #334396;
    padding-top: 1rem;
}

.text-header {
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 144%;
    color: #334396;
}

.text-content {
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 144%;
    color: #334396;
}

.from-header {
    background: #FFCD41;
    border-radius: 16px 16px 0px 0px;
}

.from-body {
    background: #FFFFFF;
    border-radius: 0px 0px 16px 16px;
}

.submenu {
    border-radius: 16px 16px 16px 16px;
}

.redmark {
    color: red;
}

.bt-back-c {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #334396;
    border-radius: 4px;
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 144%;
    color: #334396;
    width: 173px;
}

.bt-con-c {
    box-sizing: border-box;
    background: #334396;
    border-radius: 4px;
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 144%;
    color: #fff;
    width: 173px;
}

.end-bt {
    display: flex;
    justify-content: center;
    height: 51px;
    top: 740px;
}

.next-icon {
    Width: 27px;
    Height: 27px;
    Top: 24.5px;
    transform: rotate(0deg);
}

.end-icon {
    Width: 21px;
    Height: 21px;
    Top: 24.5px;
}

.label-c {
    height: 29px;
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 150%;
    color: #334396;
}

.input-c {
    height: 45px;
    width: 70%;
    border: 2px solid #D4D2D5;
    border-radius: 6px;
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 150%;
    color: #000;
    display: flex;
    align-items: center;
}

input[readonly] {
    background: #F5F3F7;
    color: #909399;
}

.progress-bar {
    background: #7b89c4;
}

.progress {
    background-color: #c5cbe6;
}

.icon-eye-c {
    position: absolute;
    width: 28px;
    height: 21px;
}

.text-sub-reg {
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */
    text-align: center;
    letter-spacing: -0.022em;
    color: #334396;
}
.text-sub-reg-detail {
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    /* or 54px */
    text-align: center;
    letter-spacing: -0.022em;
    color: #909399;
}

