@using sso.mms.helper.Data;
@using sso.mms.helper.ViewModels;
@using sso.mms.login.Services;
@using sso.mms.login.ViewModels.Email;
@inject UserService userService;
@inject IJSRuntime JSRuntime;
@inject SweetAlertService Swal

<div class="bg-reg-color">
    <MediaStyle></MediaStyle>
    <div class="container" style="padding-top:45px;padding-bottom:45px;">
        <div class="card" style="height:798px;border-radius: 24px;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);">
            <div class="text-title p-4 pb-4">ยืนยันตัวตนดิจิทัลผ่านอีเมล</div>
            <div class="p-4"></div>
            <div class="container" align="center">
                <div class="position-relative " style="width:75%">
                    <div class="progress" style="height: 6px;">
                        <div class="progress-bar" role="progress" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="container position-relative " style="width:50%">
                    <img class="position-absolute top-0 start-0 translate-middle rounded-pill" src="css/Data/Assets/Images/check.png" style="width: 77px; height:77px;" />
                    <img class="position-absolute top-0 start-50 translate-middle rounded-pill" src="css/Data/Assets/Images/check.png" style="width: 77px; height:77px;" />
                    <img class="position-absolute top-0 start-100 translate-middle rounded-pill" src="css/Data/Assets/Images/check3.png" style="width: 77px; height:77px;" />
                </div>
                <div class="container position-relative" style="width:50%">
                    <div class="row">
                        <p class="position-absolute top-0 start-0 translate-middle rounded-pill" style="padding-top:100px;">ยืนยันตัวตนกรมปกครอง </p>
                        <p class="position-absolute top-0 start-50 translate-middle rounded-pill" style="padding-top:100px;">ยืนยันตัวตนดิจิทัล </p>
                        <p class="position-absolute top-0 start-100 translate-middle rounded-pill" style="padding-top:100px;">ยืนยันเรียบร้อย </p>
                    </div>
                </div>

            </div>
            <div style="padding-bottom:7rem;"></div>
            <div class="container" align="center">
                <form class="input-contrain" style="max-width:50%" @onsubmit=@NextButton>
                    <div class="p-4">
                        <label for="otp" class="label-c">
                            กรุณากรอก OTP ที่ได้รับจาก E-mail
                        </label>
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group mb-2">
                                <input class="form-control input-c input-txt-from" required @bind="@Otp" type="@((showPassword ? "text" : "password"))" id="otp" name="fav_language" style="border-radius: 6px 0px 0px 6px;">
                                <div class="input-group-prepend">
                                    <div class="input-txt-eye" @onclick="TogglePasswordVisibility">
                                        <i class="@((showPassword ? "fa-solid fa-eye" : "fa-sharp fa-solid fa-eye-slash"))" style="padding-top:10px;color:#334396;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-4">
                        <div class="end-bt">
                            <button class="btn btn-outline-secondary bt-back-c" @onclick=BackButton type="button">
                                <i class="fa-solid fa-circle-chevron-left"></i>&nbsp;
                                ย้อนกลับ
                            </button>
                            &nbsp;
                            <button class="btn btn-primary bt-con-c" type="submit">
                                <img class="end-icon" src="css/Data/Assets/Images/confirm.png" />
                                ยืนยัน OTP
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="footer">
    <Footer />
</div>
@if (isloading == true)
{
    <style>body { overflow: hidden; }</style><LoadingPage></LoadingPage>
}
@code {
    private bool isloading = false;
    private bool showPassword = false;
    private VerifyOTP getOtp;
    private string Otp;

    [Parameter]
    public HospitalUserM RegisData { get; set; }

    [Parameter]
    public EventCallback<(HospitalUserM, int)> OnRegis { get; set; }

    private void TogglePasswordVisibility()
    {
        showPassword = !showPassword;
        StateHasChanged();
    }

    [Parameter]
    public int page { get; set; }

    [Parameter]
    public EventCallback<int> OnNextButton { get; set; }


    public async Task NextButton()
    {


        this.page = this.page + 1;
        if (this.page == 3)
        {
            VerifyOTP data = new VerifyOTP
                {
                    OtpCode = Otp
                };

            isloading = true;

            ResponseModel response = await userService.VerifyOtp(data);
            if (response.issucessStatus != true)
            {
                isloading = false;
                StateHasChanged();
                await Swal.FireAsync(
                  "OTP ของท่านไม่ถูกต้อง",
                  null,
                  SweetAlertIcon.Warning
                  );
                //await JSRuntime.InvokeVoidAsync("alert", response.statusMessage);
                this.page = this.page - 1;
            }
            else
            {
                await this.OnRegis.InvokeAsync((RegisData, this.page));
            }
        }

    }

    [Parameter]
    public EventCallback<int> OnBackButton { get; set; }

    public async Task BackButton()
    {
        this.page = this.page - 1;
        await this.OnBackButton.InvokeAsync(this.page);
    }


}