@using System.ComponentModel
@using sso.mms.fees.ext.Shared.OrganTransplantation.DisbursementHistory.Modals

<Table DataSource="@data2" Bordered Size="TableSize.Middle">
         <PropertyColumn Property="c => c.Id" Title="ลำดับ" Align="ColumnAlign.Center" Width="20" Fixed="left" />
         <PropertyColumn Property="c => c.CitizenId" Title="เลขประจำตัวประชน" Align="ColumnAlign.Center" Width="100" />
         <PropertyColumn Property="c => c.Name" Title="ชื่อ-นามสกุล" Align="ColumnAlign.Center"Width="100" />
         <PropertyColumn Property="c => c.SurgeryDate" Title="วันที่ผ่าตัด" Align="ColumnAlign.Center" Width="100" />
         <PropertyColumn Property="c => c.IDDonor" Title="ID Donor" Align="ColumnAlign.Center" Width="70" />
         <PropertyColumn Property="c => c.ServiceTypes" Title="ประเภทบริการ" Align="ColumnAlign.Center"Width="50" />
         <PropertyColumn Property="c => c.TotalAmount" Title="จำนวนเงิน" Align="ColumnAlign.Center" Width="80" />
         <PropertyColumn Property="c => c.Status" Title="สถานะ" Align="ColumnAlign.Center" Width="80">
             @if (context.Status == "จ่ายแล้ว")
        {
            <p style="color:green">จ่ายแล้ว</p>
        }
        else
        {
            <p style="color:red">รอการจ่าย</p>
        }
         </PropertyColumn>
         <PropertyColumn Property="c=>c.Id" Align="ColumnAlign.Center" Title="" Width="5%">
             <img class="mx-2" title="แก้ไข" src="helper_shared/PortalAdminImage/eye.png"
                  style="width:24px;height:24px; cursor:pointer;" @onclick="@(() => OpenDisburseHistoryViewModalCell(true))" />
         </PropertyColumn>
     </Table>

     <DisburseHistoryViewModalCell _visible="openDisburseHistoryViewModalCell" OnClose="@OpenDisburseHistoryViewModalCell" />

    @using MatBlazor
    @using System.ComponentModel.DataAnnotations;
    @using System.Text.Json;
    @using sso.mms.fees.ext.Shared.OrganTransplantation.DisbursementLists;
    @inject NavigationManager Navigation
    @inject ModalService _modalService

     @code {

    bool openDisburseHistoryViewModalCell { get; set; }


    Data2[]? data2;

    public class Data2
    {
        public int Id { get; set; }

        public string? CitizenId { get; set; }

        public string? Name { get; set; }

        public string? SurgeryDate { get; set; }

        public string? IDDonor { get; set; }

        public string? ServiceTypes { get; set; }

        public string? TotalAmount { get; set; }

        public string? Status { get; set; }

        public string? Detail { get; set; }

    }



    protected override void OnInitialized()
    {

        data2 = Enumerable.Range(0, 2).Select(x => new Data2
            {
                Id = 1,
                CitizenId = "123456789xxxxxxxx",
                Name = "นางสุจินดา ญาดา",
                SurgeryDate = "25 มี.ค. 2566",
                IDDonor = "1234567",
                ServiceTypes = "เซลต้นกำเนิดเม็ดโลหิต",
                TotalAmount = "40,000",
                Status = "จ่ายแล้ว",
                Detail = ""
            }).ToArray();
    }


    public async Task OpenDisburseHistoryViewModalCell(bool value)
    {
        openDisburseHistoryViewModalCell = value;
    }

}
