<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">การรักษาโดยแพทย์ผู้เชี่ยวชาญพิเศษเฉพาะทางและการทำหมัน</div>
    </div>
    <div class="p-2 p-md-5 ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">รายการรับแจ้ง</span>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-sucress py-2">รายการที่มีใบขอเบิก</span>
                </li>
                @*                <li class="breadcrumb-item" aria-current="page">
                <span class="breadcum-process py-2">แสดงรายการงวดที่เลือก</span>
                </li>*@
            </ol>
        </nav>
        <div class="container" style="padding-bottom:1.5rem;">

            <div class="row">

                <div class="col-2 mms-media-start">
                </div>
                <div class="col mms-media-center" style="
    width: 24%;
">

                    <div class="mms-media-end">
                        <Button Type="@ButtonType.Primary" @onclick="() => goDetail()"><i class="fa-solid fa-arrow-up"></i> &nbsp; แสดงข้อมูลเบิก</Button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
           
                </div>
            </div>
            <hr />
            <Table DataSource="listOfData" TItem="ItemData" RowClassName="@(_=>"editable-row")" Bordered>
                <ChildContent Context="data">
                    <Column TData="string" Title="ลำดับ" Align="ColumnAlign.Center" Style="width:10%;">@(String.Format("{0:d}", listOfData.IndexOf(data) + 1)) </Column>
                    <Column TData="string" Title="งวด" Align="ColumnAlign.Center" >@data.key</Column>
                    <ActionColumn Title="" Align="ColumnAlign.Center" Style="width:10%;">

                        @*<a @onclick="() => startEdit(data.Id)">Edit</a>*@
                        <img src="helper_shared/PortalAdminImage/eye.png"  @onclick="() => goView()" style="width:24px;height:24px; cursor:pointer;"
                             />


                    </ActionColumn>
                </ChildContent>
            </Table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }



    string? txtValue = "dsad";

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }


    RenderFragment _audioIcon =@<Icon Type="audio" Theme="outline" Style="color: #1890ff" />;


    public class ItemData
    {
        public int Id { get; set; }
        public string? key { get; set; }


    };
    public class DropdownData
    {
        public string name { get; set; }
        public string? date { get; set; }

    };

    List<DropdownData> dropdownlist = new List<DropdownData>();
    List<ItemData> listOfData = new List<ItemData>();
    private int total => listOfData.Count();
    private int pageSize = 3;

    public async Task goDetail()
    {
        await IndexPage.InvokeAsync(2);
    }
    public async Task goView()
    {
        await IndexPage.InvokeAsync(3);
    }


    protected override void OnInitialized()
    {
        listOfData = new List<ItemData>
        {
            new ItemData
            {
                Id = 1 ,
                key = $"2566/02"


            },
            new ItemData
            {
               Id = 2 ,
                key = $"2566/03"


            },
            new ItemData
            {
                Id =3 ,
                key = $"2566/04"

            }
        };

        dropdownlist = new List<DropdownData>
        {
            new DropdownData
            {
                name = "รพ 1"



            },
            new DropdownData
            {
                 name = "รพ 2"

            },
            new DropdownData
            {
                 name = "รพ 3"

            }
        };
    }

}
