@using System.ComponentModel;
@using sso.mms.fees.admin.Shared.RiskExposure.WithDrawRequestList.Components

<style>
    .text-label {
        color: #334396;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Noto Sans Thai;
        font-size: 19px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 28.5px */
        margin-right: 5px;
    }

    .text-sub {
        color: #1A141F;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Noto Sans Thai;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 24px */
    }

    .margin-input {
        margin-left: 5px;
        margin-right: 5px;
    }

</style>

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ตามภาระเสี่ยง</div>
    </div>
    <div class="container py-4">
        <div class="mms-txt-header py-2">รายการเบิกค่าบริการตามภาระเสี่ยง</div>
        <hr />
            <div class="row mb-3">
                <div class="col-sm-1">
                    <lable class="text-label">งวดที่</lable>
                </div>
                <div class="col-sm-1">
                    <Input Disabled @bind-Value="@textValue1" />
                </div>
            <div class="col-sm-2">
                    <lable class="text-label">วันที่ประมวลผล</lable>
                </div>
            <div class="col-sm-3">
                    <Input Disabled @bind-Value="@textValue2" />
                </div>
            <div class="col-sm-2">
                    <lable class="text-label">ประมวลผลโดย</lable>
                </div>
            <div class="col-sm-3">
                    <Input Disabled @bind-Value="@textValue3" />
                </div>
            </div>

        <Tabs @bind-ActiveKey="@activeKey" OnChange="OnTabChange" Animated>
            <TabPane Tab="ขั้นตอนที่ 1" Key="1">
                <TableTab1></TableTab1>
            </TabPane>
            <TabPane Tab="ขั้นตอนที่ 2" Key="2">
                <TableTab2></TableTab2>
            </TabPane>
            <TabPane Tab="ขั้นตอนที่ 3" Key="3">
                <TableTab3></TableTab3>
            </TabPane>
            <TabPane Tab="ขั้นตอนที่ 4" Key="4">
                <TableTab4></TableTab4>
            </TabPane>
        </Tabs>
    </div>
</div>


@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    string? textValue1;
    string? textValue2;
    string? textValue3;



    public async Task Edit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    string activeKey { get; set; } = "1";

    void OnTabChange(string key)
    {
        Console.WriteLine($"tab change:{key}");
    }



}
