@page "/cookie"
@using sso.mms.helper.Configs;
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Http


<style>
    @@media (min-width: 576px) {
        .modal-dialog {
            max-width: 950px;
            margin: 1.75rem auto;
        }
    }

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0.5rem;
        border-bottom: 1px solid #dee2e600;
        border-top-left-radius: calc(0.3rem - 1px);
        border-top-right-radius: calc(0.3rem - 1px);
    }
</style>


@if (showBanner)
{
    <div class="modal fade show rounded-5" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" style="align-items: flex-end;">
            <div class="modal-content" style="border-radius: 15px; width:950px;height: 210px;">
                <div class="modal-header" style="display: flex;justify-content: space-between; align-items:start">
                    <div class="font-weight-bold p-3" style=" font-size:24px; color:#334396; font-weight:bold">เว็บไซต์นี้เราใช้คุกกี้</div>
                   <button style="cursor:pointer;align-items: flex-start;" class="btn" type="button" data-bs-dismiss="modal" aria-label="Close" @onclick="Hide">
                        <i class="fa-regular fa-circle-xmark fa-2xl " style="color:#80808057;"></i>
                    </button>
                </div>
                <div class="modal-body" style=" width:950px">
                    <div class="container">
                        <div>
                            <div style="font-weight:bold">
                                เราใช้คุกกี้เพื่อเพิ่มประสบการณ์ที่ดีในการใช้เว็บไซต์ แสดงเนื้อหาและโฆษณาให้ตรงกับความสนใจ รวมถึงเพื่อวิเคราะห์การเข้าใช้งานเว็บไซต์และทำความเข้าใจว่าผู้ใช้งานมาจากที่ใด
                                คุณสามารถเลือกตั้งค่าความยินยอมการใช้คุกกี้ได้ <u>นโยบายความเป็นส่วนตัว</u>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end align-items-end">
                        <div style="padding-right:1rem"><u>การตั้งค่าคุกกี้</u></div>
                        <div>
                            <button type="button" class="btn" style="background-color:#334396; color:white " data-bs-dismiss="modal" aria-label="Close" @onclick="@AcceptMessage">
                                <i class="fa-regular fa-circle-check"></i> &nbsp;ยอมรับทั้งหมด
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    ITrackingConsentFeature? consentFeature;
    bool showBanner;
    string? cookieString;

    protected override async Task OnInitializedAsync()
    {
        consentFeature =  Http.HttpContext.Features.Get<ITrackingConsentFeature>();
        if (consentFeature != null)
        {
            showBanner = !consentFeature?.CanTrack ?? false;
            cookieString = consentFeature?.CreateConsentCookie();
        }
    }

    private async Task AcceptMessage()
    {
       await JSRuntime.InvokeVoidAsync("CookieFunction.acceptMessage", cookieString);
       Hide();
    }

    public void Hide()
    {
       showBanner = false;
       StateHasChanged();
       Console.WriteLine(showBanner);
    }
}
