@using AntDesign.TableModels
@using System.ComponentModel
@using System.Net.Http.Headers
@inject HttpClient Http

@inject ModalService _modalService

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ส่งเสริมสุขภาพและป้องกันโรค</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">รายงาน</span>
                    </li>
            </ol>
        </nav>
        <hr />

        <div class="row pb-3">
            <div class="mms-txt-require col-md-12 col-lg-6">
            </div>
            <div class="w-50 col-md-12 col-lg-6">
                <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา..." EnterButton="true" />
                    </SpaceItem>
                </Space>
            </div>
        </div>
        <Table Class="zebra-striped-table" Bordered DataSource="data" OnChange="OnChange" TItem="Data">
            <ColumnDefinitions>
                <PropertyColumn Property="c=>c.Id" Align="ColumnAlign.Center" Title="ลำดับ" Width="7%" />
                <PropertyColumn Property="c=>c.Detail" Align="ColumnAlign.Center" Title="หัวข้อรายงาน" />
                <PropertyColumn Property="c=>c.ViewDetail" Align="ColumnAlign.Center" Title="" Width="5%">
                    <img class="mx-2" title="แก้ไข" src="helper_shared/PortalAdminImage/eye.png"
                         style="width:24px;height:24px; cursor:pointer;" />
                </PropertyColumn>
            </ColumnDefinitions>
            <PaginationTemplate>
                <Pagination Class="pt-2"
                            Total="context.Total"
                            PageSize="context.PageSize"
                            Current="context.PageIndex"
                                        ShowSizeChanger
                            OnChange="context.HandlePageChange" />
            </PaginationTemplate>
            </Table>

    </div>
</div>

@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    record ItemData
    {
        public string Id { get; set; }
        public string Name { get; set; }
        public int Age { get; set; }
        public string Address { get; set; }
    };

    IDictionary<string, (bool edit, ItemData data)> editCache = new Dictionary<string, (bool edit, ItemData data)>();
    List<ItemData> listOfData = new();

    int i = 0;
    string editId;


    /*-- Data --*/
    public record Data(int Id, string Detail, int ViewDetail);

    public Data[] data =
    {
        new(1,"- รายงานสรุปว่างวดนี้มีโรงพยาบาลไหนส่งรายการเบิกมาบ้าง และ มีจำนวนผู้ประกันตนเท่าไร จำนวนเงินเท่าไร จำนวนชนิดวัคซีนแต่ละสายพันธุ์ (3สายพันธุ์ และ 4สายพันธุ์) มีจำนวนเท่าไร",1),
        new(2,"- รายงานสรุปว่างวดนี้มีโรงพยาบาลไหนส่งรายการเบิกมาบ้าง และ มีจำนวนผู้ประกันตนเท่าไร จำนวนเงินเท่าไร จำนวนชนิดวัคซีนแต่ละสายพันธุ์ (3สายพันธุ์ และ 4สายพันธุ์) มีจำนวนเท่าไร",2),
        new(3,"- รายงานสรุปว่างวดนี้มีโรงพยาบาลไหนส่งรายการเบิกมาบ้าง และ มีจำนวนผู้ประกันตนเท่าไร จำนวนเงินเท่าไร จำนวนชนิดวัคซีนแต่ละสายพันธุ์ (3สายพันธุ์ และ 4สายพันธุ์) มีจำนวนเท่าไร",3),
        new(4,"- รายงานสรุปว่างวดนี้มีโรงพยาบาลไหนส่งรายการเบิกมาบ้าง และ มีจำนวนผู้ประกันตนเท่าไร จำนวนเงินเท่าไร จำนวนชนิดวัคซีนแต่ละสายพันธุ์ (3สายพันธุ์ และ 4สายพันธุ์) มีจำนวนเท่าไร",4),
        new(5,"- รายงานสรุปว่างวดนี้มีโรงพยาบาลไหนส่งรายการเบิกมาบ้าง และ มีจำนวนผู้ประกันตนเท่าไร จำนวนเงินเท่าไร จำนวนชนิดวัคซีนแต่ละสายพันธุ์ (3สายพันธุ์ และ 4สายพันธุ์) มีจำนวนเท่าไร",5),
       
    };

    void OnChange(QueryModel<Data> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }
    public void Getpackage()
    {
        //selectedRows
    }

}
