@using Blazored.LocalStorage;
@using sso.mms.fees.ext.Providers.PromoteHealth.DisbursementHistory;
@inject ModalService _modalService
@inject DisbursementHistoryServices disbursementHistoryServices
@inject ILocalStorageService _localstorage;


<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์เมทาโดน</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">ประวัติการเบิกจ่าย</span>
                </li>
            </ol>
        </nav>
        <hr />
        <div class="row py-4">
            <div class="col-sm-12 col-md-9"></div>
            <div class="col-sm-12 col-md-3">
                <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
                    </SpaceItem>
                </Space>
            </div>
        </div>
        <Table DataSource="listOfData" Bordered ScrollX="1000">
            <ChildContent Context="data">
                <Column TData="string" Title="ลำดับ" Width="10%" Style="text-align:center;">
                    @String.Format("{0:d}", listOfData.IndexOf(data) + 1)
                </Column>
                <Column TData="string" Title="งวดการจ่าย" Width="40%" Style="text-align:center;">
                    @data.PayCricle
                </Column>
                <Column TData="string" Title="ยอดเงินรวม(บาท)" Width="20%" Style="text-align:center;">
                    @data.PayAmount.ToString("0:N2")
                </Column>
                <Column TData="string" Title="สถานะ" Width="20%" Style="text-align:start;">
                    @if (data.Status == "1")
                    {
                        <span style="color:green"><span class="status-color-green me-2"></span>จ่ายเเล้ว</span>
                    }
                    else if (data.Status == "2")
                    {
                        <span style="color:orangered"><span class="status-color-orangered me-2"></span>อนุมัติแล้ว รอจ่าย</span>
                    }
                    else if (data.Status == "3")
                    {
                        <span style="color:red"><span class="status-color-red me-2"></span>รอพิจารณาอนุมัติ</span>
                    }
                </Column>
                <Column TData="string" Width="10%" Style="text-align:center;">
                    <img class="mx-2" title="เรียกดู" src="helper_shared/PortalAdminImage/eye.png" style="width:24px;height:24px; cursor:pointer;" @onclick="() =>Navigate(2 ,data.PayCricle)" />
                </Column>
            </ChildContent>
            <PaginationTemplate>
                <Pagination Class="pt-2"
                            Total="context.Total"
                            PageSize="context.PageSize"
                            Current="context.PageIndex"
                                    ShowSizeChanger
                            OnChange="context.HandlePageChange" />
            </PaginationTemplate>
                </Table>
            </div>
        </div>
        @code {
    [Parameter]
    public EventCallback<(int , string)> IndexPage { get; set; }
    List<ItemData> listOfData = new List<ItemData>();
    bool _visible = false;

    /*------------- Navigate Page ---------*/
    public async Task Navigate(int page , string GetPayCricle)
    {
        await IndexPage.InvokeAsync((page , GetPayCricle));

    }
    /*------------- Navigate Page ---------*/
    public class ItemData
    {
        public int? Id { get; set; }
        public string PayCricle { get; set; }
        public int PayAmount { get; set; }
        public string Status { get; set; }
    }
    protected override void OnInitialized()
    {
        listOfData = new List<ItemData>()
        {
                new ItemData{
                Id = 1,
                PayCricle = "2566/8",
                PayAmount = 20000,
                Status = "1",
            },new ItemData{
                Id = 2,
                PayCricle = "2566/7",
                PayAmount = 29000,
                Status = "2",
            },new ItemData{
                Id = 3,
                PayCricle = "2566/6",
                PayAmount = 25000,
                Status = "3",
            },
        };
    }
}
