.windowws-chat-s1 {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0px 0px;
    height: 74px;
    padding-bottom: 2px;
}

.windowws-chat-s2 {
    background: #FFFFFF;
    border-radius: 0px 0px 8px 8px;
    height: 804px;
    margin-top: 5px;
}

.scrollbar {
    /* margin-left: 30px; */
    float: left;
    height: 650px;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 0px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(255 255 255 / 0%);
    background-color: #ffffff;
}

.scrollbar-primary::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgb(0 0 0 / 0%);
    background-color: #ffffff;
    border-radius: 10px;
}

.btn-message {
    width: 3.188rem;
    height: 3.188rem;
    background: #C5CBE6;
    border-radius: 8px;
    border: 0px;
}


.input-message {
    height: 3.188rem;
    border: 1px solid #D4D2D5;
}

.fa-solid {
    color: #334396;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    justify-content: center;
    align-items: center;
}

.today-date {
    color: #909399;
}

.card-chat-u {
    background: #FFCC41;
    border-radius: 16px;
    max-width: 55%;
}

.card-chat-au {
    background: #D4D2D5;
    border-radius: 16px;
    max-width: 55%;
}

.txt-upload {
    color: #334396;
    font-size: 20px;
    font-family: Noto Sans Thai;
    font-weight: 500;
    line-height: 150%;
}

.txt-upload-detail {
    color: #909090;
    font-size: 18px;
    font-family: Noto Sans Thai;
    font-weight: 500;
    line-height: 150%;
}

.div-file-upload {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
    height: 250px;
    border-radius: 10px;
    background: #C5CBE673;
}