@using sso.mms.chat.Models.ChatUserDetailList
@using sso.mms.chat.ViewModels;
@using sso.mms.helper.PortalModel;
<style>
    .card-title {
        background: #FFCC41;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px 10px 0px 0px;
        margin-bottom: 0px;
        height: 74px;
    }

    .card-chat {
        background: #FFFFFF;
        border-radius: 0px 0px 8px 8px;
        height: 749px;
    }

    .txt-title {
        font-family: 'Noto Sans Thai';
        font-style: normal;
        font-size: 32px;
        font-weight: 600;
        line-height: 150%;
        color: #334396;
    }

    .serch-bg {
        background: #334396;
        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        width: 48px;
        height: 48px;
        border-radius: 0 6px 6px 0;
        color:#ffffff;
    }

    .list-group-item:first-child {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border: 0px;
    }

    .list-group-item + .list-group-item {
        border-top-width: 0;
        border: 0px;
    }

    .scrollbar {
        /* margin-left: 30px; */
        float: left;
        height: 623px;
        width: 100%;
        background: #fff;
        overflow-y: scroll;
        border-radius: 0 0 8px 8px;
    }

    .force-overflow {
        min-height: 0px;
    }

    .scrollbar-primary::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }

    

    .scrollbar-primary::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgb(255 255 255 / 0%);
        background-color: #ffffff;
    }

    .scrollbar-primary::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 0px rgb(0 0 0 / 0%);
        background-color: #ffffff;
        border-radius: 10px;
    }
</style>

<div class="text-center card-title p-2">
    <span class="txt-title">Online Chat</span>
</div>
<div class="card-chat">
    <div class="card-body">
        <div class="input-group p-4">
            <input type="text" class="form-control" placeholder="ค้นหาแชท" aria-label="" aria-describedby="basic-addon2" @bind="@searchList" >
            <div class="input-group-append">
                <button class="serch-bg btn btn-primary" type="button" @onclick="@(()=> SearchChatRoom(searchList))">
                    <i class="fa-solid fa-magnifying-glass" style="color:#ffffff;"></i>
                </button>
            </div>
        </div>
        <div class="scrollbar scrollbar-primary">
            <div class="force-overflow"></div>
            <ul class="list-unstyled mb-0">
                <li class="border-bottom" style="background-color: #eee; cursor:pointer">
                    <UserAccoutChat 
                        OnGetChatRoomData="GetChatRoomData" 
                        ChatRoomList="@ChatRoomList" 
                        ChatRoomId="ChatRoomId"
                        searchChatRoomList="@searchChatRoomList"  />
                </li>
            </ul>
        </div>
    </div>
</div>



@code {
    [Parameter]
    public EventCallback<ChatRoom> OnGetChatRoomData { get; set; }

    [Parameter]
    public EventCallback<string> OnSearchChatList { get; set; }

    [Parameter]
    public int ChatRoomId { get; set; }

    [Parameter]
    public List<ChatRoom> ChatRoomList { get; set; }

    [Parameter]
    public List<ChatRoom> searchChatRoomList{ get; set; }

    public string? searchList = "";

    public async Task GetChatRoomData(ChatRoom item)
    {
        await OnGetChatRoomData.InvokeAsync(item);
    }

    public async Task SearchChatRoom(string item)
    {
        await OnSearchChatList.InvokeAsync(item);
    }

}
