@using sso.mms.fees.admin.Shared.OrganTransplantation.NotificationList.Components

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3"><b>การปลูกถ่ายอวัยวะ</b> / รายการผู้ใช้บริการ / ค้นหารายการตามงวด / แสดงรายการงวดที่เลือก /<span style="color:#125DFD">รายละเอียดการประมวลผล</span></div>
    </div>

    <div class="container py-4">
        <div class="d-flex align-items-center">
            <span class="mms-txt-headdetail me-2">งวดที่ :</span>
            <Input Style="width:170px" Placeholder="--เลือกงวด" @bind-Value="@txtValue" />
        </div>
        <div class="row mt-2">
            <div class="col-md-12 col-lg-6 col-xl-6 d-flex justify-content-end" @onclick=@(() => GoDetailProgressPage(4))>
                <Button Type="@ButtonType.Primary">
                    <i class="fa-solid fa-clock-rotate-left ">
                    </i>&nbsp; ประมวลผลรายการเบิก
                </Button>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6 d-flex justify-content-end">
                <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-50 ">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
                    </SpaceItem>
                </Space>
            </div>
        </div>
        <div class="container py-4">
            <div class="mms-txt-header p-3">รายการที่สถานพยาบาลส่งเบิก</div>
            <DisburseHospitalListTable></DisburseHospitalListTable>
        </div>

        <div class="container py-4">
            <div class="mms-txt-header p-3">รายการที่สถานพยาบาลส่งเบิกผ่านสกส.</div>
            <DisburseHospitalListOfficialTable></DisburseHospitalListOfficialTable>
        </div>
        <div class="d-flex flex-column">
            <div>วันที่ : 1 เม.ย 2566</div>
            <div>จำนวนสถานพยาบาลทั้งหมด : สถานพยาบาล</div>
            <div>เจ้าหน้าที่ผู้ประมวลผล : นายวงศ์ สว่าง</div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    bool openRetriveInstallmentModal { get; set; }

    private int Table;

    public void Addtable()
    {
        Table = 1;
    }

    string txtValue { get; set; }

    public async Task GoDetailProgressPage(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    public async Task OpenRetriveInstallMentModal(bool value)
    {
        openRetriveInstallmentModal = value;
    }
}