

<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">การปลูกถ่ายอวัยวะ / รายการรับแจ้ง / ค้นหารายการตามงวด / แสดงรายการงวดที่เลือก</div>
    </div>
    <div class="container py-4">

        <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-6">
                <div class="mms-media-start">
                    <div class="mms-txt-headdetail col-4">งวดที่<span class="star-comment">*</span></div>
                    <div class="col-8">
                        <Input Placeholder="6603" @bind-Value="@txtValue" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 col-lg-6 col-xl-6">
                <div class="mms-media-end" @onclick=@(() => goEdit(3))>
                    <Button Type="@ButtonType.Primary"><i class="fa-solid fa-clock-rotate-left"></i>&nbsp; ประมวลผลรายการเบิกจ่าย</Button>
                </div>
            </div>
            <div class="col-md-12 col-lg-3 float-end">
                <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
                    </SpaceItem>
                </Space>
            </div>
        </div>

    </div>
</div>

@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    private int Table;

    public void Addtable()
    {
        Table = 1;
    }

    string txtValue { get; set; }

    public async Task goEdit(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

   

}
