/*
@media screen and (max-width: 628px) {
    .d-none-ative {
        display: none;
    }
}*/

@media screen and (min-width: 391px) {
    .main-menu {
        padding-left: 11.3%;
        padding-right: 11.3%;
    }
}
