@using sso.mms.fees.admin.Shared.PocketBook.InsuredPersonRecord.CardTypeInsuredPerson


<style>
    [data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
    .site-collapse-custom-collapse .site-collapse-custom-panel {
        margin-bottom: 24px;
        border: 0px;
        overflow: hidden;
        width: 100%;
        border-radius: 8px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .ant-collapse-borderless {
        background-color: white;
        border: 0;
    }

    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        padding: 12px 16px;
        color: rgba(0, 0, 0, 0.85);
        line-height: 1.5715;
        cursor: pointer;
        transition: all 0.3s, visibility 0s;
        display: flex;
        flex-flow: row-reverse;
        border-radius: 10px 10px 0px 0px;
        background: #FFC326;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    }

    .ant-collapse-header {
        color: #334396 !important;
        text-align: start;
        font-family: Noto Sans Thai;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px; /* 100% */
        letter-spacing: 0.2px;
    }

    
    .anticon {
        color: white;
    }

    .label-title {
        color: #334396;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Noto Sans Thai;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 24px */
        padding-right: 5px;
    }

    .text-title {
        color: #1A141F;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Noto Sans Thai;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 24px */
    }

    .text-title-red {
        color: #D94827;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Noto Sans Thai;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 24px */
    }

    .text-title-green {
        color: #67C23A;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Noto Sans Thai;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 24px */
    }

    .text-title-link {
        color: #0C87FF;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Noto Sans Thai;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 24px */
        text-decoration-line: underline;
    }
</style>

<div class="site-layout-background"
     style="padding: 24px;">
    @* background-color: gray *@

    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">สมุดพกสุขภาพของผู้ประกันตน</div>
    </div>

    <div class="mms-txt-header ms-5 mt-2" style="font-size: 16px;">ข้อมูลผู้ประกันตน / <span style="color: #0C87FF">แสดงผลข้อมูลผู้ประกันตน</span></div>

    <div class="container pb-2">

        <div class="justify-content-center align-content-center">
            <div class="mms-media-center my-2">
                <Collapse Bordered="false"
                          DefaultActiveKey="@(new[]{"1"})"
                          Class="site-collapse-custom-collapse" Style="width:100%">
                    <ExpandIconTemplate>
                        <Icon Type="caret-right" Rotate="@(context ? 90 : 0)"></Icon>
                    </ExpandIconTemplate>
                    <ChildContent>
                        <Panel Header="สิทธิส่วนบุคคล" Key="1" Class="site-collapse-custom-panel">
                            <div class="container pt-4">
                                <div class="row">
                                    <div class="col d-flex">
                                        <div class="label-title ">
                                            ชื่อ-สกุล :
                                        </div>
                                        <div class="text-title">
                                            นางสุจินดา  ญาดา
                                        </div>
                                    </div>
                                    <div class="col d-flex">
                                        <div class="label-title">
                                            อายุ :
                                        </div>
                                        <div class="text-title">
                                            58
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <div class="label-title">
                                            เลขประจำตัวประชาชน :
                                        </div>
                                        <div class="text-title">
                                            1234587957xxx
                                        </div>
                                    </div>
                                    <div class="col d-flex">
                                        <div class="label-title">
                                            มาตรา :
                                        </div>
                                        <div class="text-title">
                                            มาตรา 33
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <div class="label-title">
                                            โรงพยาบาลตามสิทธิ์ :
                                        </div>
                                        <div class="text-title">
                                            โรงพยาบาลลานนา1
                                        </div>
                                    </div>
                                    <div class="col d-flex">
                                        <div class="label-title">
                                            สถานประกอบการ :
                                        </div>
                                        <div class="text-title">
                                            บริษัท ยิ้มสดใส จำกัด
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col d-flex">
                                        <div class="label-title">
                                            สถานะผู้ประกันตน :
                                        </div>
                                        <div class="text-title-red">
                                            เป็นผู้ประกันตน หรือ ไม่เป็นผู้ประกันตน
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </Panel>
                        <Panel Header="สิทธิการรักษา" Key="2" Class="site-collapse-custom-panel">
                            <div class="container pt-4">
                                <div class="row">
                                    <div class="col d-flex">
                                        <div class="label-title">
                                            วัคซีนไข้หวัดใหญ่ :
                                        </div>
                                        <div class="text-title-green">
                                            อนุมัติสิทธิ  ณ รพ XXXXXX วันที่ 1 ม.ค. 2566
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <div class="label-title">
                                            ตรวจสุขภาพ :
                                        </div>
                                        <div class="d-flex flex-column">
                                            <div class="text-title-green">
                                                ปี 2566 รายการที่ตรวจแล้ว จำนวน 2 รายการ และ รายที่ยังไม่ได้ตรวจ จำนวน 12 รายการ
                                            </div>
                                            <div class="text-title-link">
                                                ตรวจสอบข้อมูล
                                            </div>
                                            <div class="text-title-link" style="cursor:pointer" @onclick="(() => goEdit(3))">
                                                สถิติการตรวจย้อนหลังจำนวน 5 ปี
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <div class="label-title">
                                            สิทธิทันตกรรม คงเหลือ :
                                        </div>
                                        <div>
                                            900 บาท
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex ">
                                        <div class="label-title">ภาระเสี่ยง :</div>
                                        <div class="text-title-green">เคยรับบริการ หรือ ไม่เคยรับบริการ</div>
                                    </div>
                                </div>
                            </div>
                        </Panel>
                        <Panel Header="สิทธิการรักษาที่ผ่านการอนุมัติจากคณะอนุกรรมการ" Key="3" Class="site-collapse-custom-panel">
                            <div class="container p-4">
                                <div class="row">
                                    <div class="col d-flex">
                                        <div class="label-title">
                                            ปลูกถ่ายอวัยวะ :
                                        </div>
                                        <div class="text-title-green">
                                            อนุมัติสิทธิ  ณ รพ XXXXXX วันที่ 1 ม.ค. 2566
                                        </div>
                                    </div>
                                    <div class="col d-flex">
                                        <div class="label-title">
                                            ฟอกเลือดด้วยเครื่องไตเทียม :
                                        </div>
                                        <div class="text-title-green">อนุมัติสิทธิ ณ สถาพยาบาล.xxxxx วันที่ 1 ม.ค. 2566</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <div class="label-title">
                                            ยาแฟคเตอร์ :
                                        </div>
                                        <div class="d-flex flex-column">
                                            <div class="text-title-green">
                                                ได้รับยา ณ รพ รวมใจรักษ์
                                            </div>
                                            <div class="text-title-link">
                                                สถิติการรับยาย้อนหลังจำนวน 5  ปี
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col d-flex">
                                        <div class="label-title">
                                            ทุพพลภาพ :
                                        </div>
                                        <div class="text-title-green">อนุมัติสิทธิ วันที่ 1 ม.ค. 2566</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex">
                                        <div class="label-title">
                                            การฟื้นฟูสมรรถภาพ :
                                        </div>
                                        <div class="text-title-green">
                                            ศูนย์ฟื้นฟูสมรรถภาพคนงานจังหวัดปทุมธานี วันที่ 11 ก.พ. 2560
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </Panel>
                        <Panel Header="โรคประจำตัวผู้ประกันตน (26 โรคเรื้อรัง)" Key="4" Class="site-collapse-custom-panel">
                            <div class="d-flex flex-wrap justify-content-around pt-4">
                                <div>
                                    1. เบาหวาน
                                </div>
                                <div>
                                    2. ตับอักเสบ
                                </div>
                                <div>
                                    3. โรคความดันโลหิตสูง
                                </div>
                            </div>
                        </Panel>
                        <Panel Header="การรักษาและยาที่ได้รับล่าสุด" Key="5" Class="site-collapse-custom-panel">
                            <div style="padding:30px; display:flex; justify-content:center;">
                                <CardInpatient/>
                                <CardOutpatient/>
                            </div>
                        </Panel>
                        <Panel Header="ประวัติการรักษา" Key="6" Class="site-collapse-custom-panel">
                            <InsuredPersonMedicalHistory />
                        </Panel>
                        <Panel Header="ประวัติการเบิกจ่าย" Key="7" Class="site-collapse-custom-panel">
                            <InsuredPersonDisburseMentHistory />
                        </Panel>
                        <Panel Header="โครงการดูแลสุขภาพผู้ประกันตนเชิงรุกในสถานประกอบการ" Key="8" Class="site-collapse-custom-panel">
                            <InsuredPersonPHCP />
                        </Panel>
                    </ChildContent>
                </Collapse>
            </div>
        </div>
    </div>
</div>






@code {
    [Parameter]
    public EventCallback<int> usePage { get; set; }

    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    public async Task goEdit(int item)
    {
        await usePage.InvokeAsync(item);
    }


}


