
<style>
    .text-lable {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: start;
        color: #334396;
        font-size: 16px;
        font-weight: bold;
        padding-right: 5px;
    }
</style>

<div class="py-4">
    <Table DataSource="data" OnChange="OnChange" TItem="Data" HidePagination Bordered>
        <PropertyColumn Title="ลำดับ" Property="c=>c.No" />
        <PropertyColumn Title="รายการตรวจ" Property="c=>c.Checklist" />
        <PropertyColumn Title="ก่อน" Property="c=>c.Before" />
        <PropertyColumn Title="หลัง" Property="c=>c.After" />
        <PropertyColumn Title="หน่วย" Property="c=>c.Unit" />
    </Table>
</div>

<div>
    <div class="text-lable">ระดับความเสี่ยง (ก่อน) :  เสี่ยงสูง</div>
    <div class="text-lable">วันที่เข้าตรวจ (ก่อน) :  10  ม.ค. 2566</div>
    <div class="text-lable">วันที่เข้าตรวจ (หลัง) : 10 ก.ค. 2566</div>
    <div class="text-lable">สถานพยาบาล : โรงพยาบาลรวมใจรักษ์</div>
</div>

@code {

    public record Data(
        string No,
        string Checklist,
        string Before,
        string After,
        string Unit
    );

    public Data[] data =
    {
        new("1","น้ำตาลในเลือด","120","180","mg/dl"),
        new("2","ไขมัน TOTAL","220","180","mg/dl"),
        new("3","ไขมัน HLD","90","70","mg/dl"),
        new("4","รอบเอว","72","80","cm"),
        new("5","น้ำหนัก","80","120","kg"),
        new("6","ส่วนสูง","160","160","cm"),
        new("7","ความดัน (บน)","120","160","mmHg"),
        new("8","ความดัน (ล่าง)","70","85","mmHg"),
    };

    void OnChange(QueryModel<Data> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }
}
