.MA-body {
    width: 100%;
    min-height: 724px;
    background: #ffffff;
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.MA-headder {
    background: #FFCC41;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0px 0px;
}

.MA-title {
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.019em;
    color: #334396;
}

.MA-sub-title {
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.2px;
    color: #334396;
}

.btn-wh {
    Width: 123px;
    Height: 51px;
}

.txt-btn-save {
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 144%;
    color: #FFFFFF;
}

.serch-bg {
    background: #334396;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    color: white;
}

.form-label {
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    display: flex;
    align-items: center;
    color: #334396;
}

.form-check-input:checked {
    background-color: #334396;
    border-color: #334396;
    width: 25px;
    height: 25px;
}

.form-check-input[type=radio] {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.check-d-flex {
    display: flex;
    align-items: center;
}

.radio-txt {
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    align-items: center;
    color: #1A141F;
}

.btn-save {
    background: #334396;
    border-radius: 4px;
    width: 173px;
    height: 51px;
}

.txt-btn-save {
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 144%;
    color: #FFFFFF;
}

.form-check-input[type=checkbox] {
    border-radius: 0.25em;
    width: 25px;
    height: 25px;
}
