

<Table DataSource="@data" OnChange="OnChange" TItem="MockUpData" @ref="Table" EnableVirtualization @bind-PageSize="pageSize" Bordered>
    <ChildContent>
        <PropertyColumn Title="ลำดับ" Property="c=>c!.No" Align="ColumnAlign.Center" Width="20px" />
        <PropertyColumn Title="เลขประจำตัวประชาชน" Property="c=>c!.IdentificationNumber" Width="100px" Align="ColumnAlign.Center" />
        <PropertyColumn Title="ชื่อ-นามสกุล" Property="c=>c!.Name" Width="100px" Align="ColumnAlign.Center" />
        <PropertyColumn Title="ชื่อสถานพยาบาล" Property="c=>c!.HospitalName" Width="100px" Align="ColumnAlign.Center" />
        <PropertyColumn Title="วันที่ผ่าตัด" Property="c=>c!.Date" Width="100px" Align="ColumnAlign.Center" />
        <PropertyColumn Title="ID Donor" Property="c=>c!.IDdonor" Width="100px" Align="ColumnAlign.Center" />
        <PropertyColumn Title="ประเภทบริการ" Property="c=>c!.ServiceType" Width="100px" Align="ColumnAlign.Center" />
        <PropertyColumn Title="จำนวนเงิน" Property="c=>c!.AmountMonney" Width="100px" Align="ColumnAlign.Center" />
    </ChildContent>
    <PaginationTemplate>
        <Pagination Class="pt-2" Total="context.Total"
                    PageSize="context.PageSize"
                    Current="context.PageIndex"
                        ShowSizeChanger
                     OnChange="context.HandlePageChange" />
     </PaginationTemplate>
 </Table>
@code {

    int pageSize = 5;
    Table<MockUpData> Table;

    class MockUpData
    {
        public MockUpData(
            int no,
        string identificationNumber,
        string name,
        string hospitalName,
        string date,
        string idDonor,
        string serviceType,
        string amountMonney
        )
        {
            No = no;
            IdentificationNumber = identificationNumber;
            Name = name;
            HospitalName = hospitalName;
            Date = date;
            IDdonor = idDonor;
            ServiceType = serviceType;
            AmountMonney = amountMonney;
        }
        public int No { get; set; }
        public string IdentificationNumber { get; set; }
        public string Name { get; set; }
        public string HospitalName { get; set; }
        public string Date { get; set; }
        public string IDdonor { get; set; }
        public string ServiceType { get; set; }
        public string AmountMonney { get; set; }
    }

    MockUpData[] data =
    {
           new(1,"1234567891012","test1 test2","โรงพยาบาลประสาท","02/12/2023","1142","wpx","2000 บาท"),
    };

    void OnChange(QueryModel<MockUpData> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }
}
