.nav-s-l {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    height: 80px;
}

.l-a {
    margin-left: 3%;
    width: 286px;
    height: 52.3px;
    margin-top: 10px;
}

.row * {
    padding-right: calc(var(--bs-gutter-x) * .0);
    padding-left: calc(var(--bs-gutter-x) * .0);
}

.bg-color-a {
    background: #FFCD41;
    display: flex;
    justify-content: center;
    padding-top:5%
}

.bg-img-l-a {
    background: #0C87FF;
    padding-top: 5%;
}

.img-banner {
    width: 380.65px;
    height: 118.3px;
    margin-bottom: 79px;
}

.img-s {
    Width: 100%;
    Height: 1100px;
}

.card-c-login {
    width: 625px;
    height: 826px;
    left: 43px;
    top: 158px;
    background: #FFF8E3;
    border-radius: 16px;
}

.txt-login-a {
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.2px;
    color: #334396;
}

.txt-label-login {
    background: #FFFFFF;
    border: 2px solid #D4D2D5;
    border-radius: 6px;
    height: 45px;
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
}

.txt-l-b {
    font-family: 'Noto Sans Thai';
    font-style: normal;
    font-weight: 600;
    color: #334396;
}
.btn-login-a {
    background: #334396;
    border-radius: 4px;
    height:51px;
}

.qr-s {
    Width: 104px;
    Height: 26px;
}

.f48 {
    font-size: 48px;
}

.f38 {
    font-size: 38px;
}

.f26 {
    font-size: 26px;
}

.f22 {
    font-size: 22px;
}

.input-txt-from {
    height: 45px;
    border-right: 1px solid #fff;
    border-top: 2px solid #ced4da;
    border-bottom: 2px solid #ced4da;
    border-left: 2px solid #ced4da;
    background: white;
    border-radius: 0 6px 6px 0;
}

.input-txt-eye {
    height: 45px;
    width: 45px;
    border-left: 1px solid #fff;
    border-top: 2px solid #ced4da;
    border-bottom: 2px solid #ced4da;
    border-right: 2px solid #ced4da;
    background: white;
    border-radius: 0 6px 6px 0;
}
.modal-ext {
    background: #334396;
    border-radius: 16px 16px 0 0;
    display: flex;
    justify-content: flex-end;
}

.modal-otp {
    color: #334396;
    text-align: center;
    font-size: 48px;
    font-family: Noto Sans Thai;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.btn-otp {
    background: #334396;
}

.txt-times {
    color: #1A141F;
    text-align: center;
    font-size: 24px;
    font-family: Noto Sans Thai;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.456px;
}
.modal-content {
    background: #F5F3F7;
    border-radius: 16px;
}