<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าใช้จ่ายการฟื้นฟู ด้านการแพทย์ ด้านอาชีพ และด้านการรักษาและผ่าตัดของผู้เข้ารับการฟื้นฟู</div>
    </div>
    <div class="container py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <span class="breadcum-process py-2">สืบค้นข้อมูลผู้ประกันตน</span>
                </li>
            </ol>
        </nav>
        <hr />
        <div class="row">
            <svg xmlns="http://www.w3.org/2000/svg" width="258" height="193" viewBox="0 0 258 193" fill="none">
                <path d="M236.5 0H21.5C9.7825 0.428889 0.43 9.75722 0 21.4444V171.556C0.43 183.243 9.7825 192.571 21.5 193H236.5C248.217 192.571 257.57 183.243 258 171.556V21.4444C257.802 15.8198 255.473 10.4793 251.484 6.49965C247.494 2.52002 242.139 0.197347 236.5 0ZM236.5 171.556H21.5V21.4444H236.5V171.556ZM150.5 150.111V136.708C150.5 118.909 114.595 109.903 96.75 109.903C78.905 109.903 43 118.909 43 136.708V150.111H150.5ZM96.75 42.8889C89.6223 42.8889 82.7865 45.713 77.7465 50.7401C72.7065 55.7671 69.875 62.5852 69.875 69.6944C69.875 73.2146 70.5701 76.7003 71.9207 79.9525C73.2713 83.2047 75.2509 86.1597 77.7465 88.6488C82.7865 93.6758 89.6223 96.5 96.75 96.5C100.279 96.5 103.774 95.8067 107.035 94.4595C110.295 93.1124 113.258 91.138 115.753 88.6488C118.249 86.1597 120.229 83.2047 121.579 79.9525C122.93 76.7003 123.625 73.2146 123.625 69.6944C123.625 66.1743 122.93 62.6886 121.579 59.4364C120.229 56.1842 118.249 53.2292 115.753 50.7401C113.258 48.2509 110.295 46.2764 107.035 44.9293C103.774 43.5822 100.279 42.8889 96.75 42.8889ZM150.5 42.8889V53.6111H215V42.8889H150.5ZM150.5 64.3333V75.0556H215V64.3333H150.5ZM150.5 85.7778V96.5H193.5V85.7778H150.5Z" fill="#CBCBCB" />
            </svg>
        </div>
        <div class="row py-4">
            <div class="col-md-4">
                <Select TItem="DropdownData"
                        TItemValue="string"
                        DataSource="@dropdownlist"
                        ValueName="@nameof(DropdownData.name)"
                        LabelName="@nameof(DropdownData.name)"
                        Style="width: 100%;"
                        Placeholder="ประเภทการค้นหา"
                                    AllowClear>
                </Select>
            </div>
            <div class="col-md-4">
                <Space Direction="@DirectionVHType.Vertical" Class="mms-btn-serch w-100">
                    <SpaceItem>
                        <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" />
                    </SpaceItem>
                </Space>
            </div>
        </div>
    </div>
</div>


@if (isloading == true)
{
    <style>
        body {
            overflow: hidden;
        }</style>

    <LoadingPage></LoadingPage>
}


@code {

    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    public class DropdownData
    {
        public string name { get; set; }
        public string? date { get; set; }

    };
    List<DropdownData> dropdownlist = new List<DropdownData>();
    public bool isloading = false;





    protected override async void OnInitialized()
    {
        dropdownlist = new List<DropdownData>
        {
            new DropdownData
            {
                name = "type1"



            },
            new DropdownData
            {
                 name = "type2"

            },
            new DropdownData
            {
                 name = "type3"

            }
        };
       
    }




}
