<p class="mms-txt-headdetail">รายการที่สถานพยาบาลส่งเบิก</p>
<hr>
<Table Bordered DataSource="@data" OnChange="OnChange" TItem="MockUpData" @ref="Table" @bind-PageSize="pageSize">
     <ChildContent>
         <Selection Key="@(context.No.ToString())" />
         <PropertyColumn Title="ลำดับ" Property="c=>c!.No" Width="20px" Align="ColumnAlign.Center" />
         <PropertyColumn Title="งวด" Property="c=>c!.Installment" Width="100px" />
         <PropertyColumn Title="เลขที่ชุดคำสั่งจ่าย" Property="c=>c!.NoCreatePay" Width="100px" />
         <PropertyColumn Title="จำนวนสถานพยาบาล" Property="c=>c!.AmountHospital" Width="100px" />
         <PropertyColumn Title="จำนวนรายการเบิก" Property="c=>c!.AmountDisburseList" Width="100px" />
         <PropertyColumn Title="ยอดเงินรวม (บาท)" Property="c=>c!.Total" Width="100px" />
         <PropertyColumn Title="สถานะ" Property="c=>c!.Status" Width="100px" />
         <PropertyColumn Title="" Property="c=>c!.Detail" Width="100px">
             <img class="mx-2" src="helper_shared/PortalAdminImage/edit.png" style="width:24px;height:24px;" />
         </PropertyColumn>
     </ChildContent>
     <PaginationTemplate>
         <Pagination Class=" pt-2" Total="context.Total"
                     PageSize="context.PageSize"
                     Current="context.PageIndex"
                        ShowSizeChanger
                     OnChange="context.HandlePageChange" />
     </PaginationTemplate>
 </Table>

 @code{

    int pageSize = 5;

    Table<MockUpData> Table;


    class MockUpData
    {
        public MockUpData(
        int no,
        string installment,
        string noCreatePay,
        string amountHospital,
        string amountDisburseList,
        string total,
        string status,
        string detail
        )
        {
            No = no;
            Installment = installment;
            NoCreatePay = noCreatePay;
            AmountHospital = amountHospital;
            AmountDisburseList = amountDisburseList;
            Total = total;
            Status = status;
            Detail = detail;
        }
        public int No { get; set; }
        public string Installment { get; set; }
        public string NoCreatePay { get; set; }
        public string AmountHospital { get; set; }
        public string AmountDisburseList { get; set; }
        public string Total { get; set; }
        public string Status { get; set; }
        public string Detail { get; set; }
    }

    MockUpData[] data =
    {
           new(1,"6704","10001","3","10","400,000","รอกดส่ง",""),
    };

    void OnChange(QueryModel<MockUpData> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }
 }

            