<div class="site-layout-background" style="padding: 24px;">
    <div class="mms-nav-title">
        <div class="mms-text-title px-4 py-3">ค่าบริการทางการแพทย์ กรณี Package โรคหัวใจและหลอดเลือด กับสถานพยาบาลในความตกลง</div>
    </div>
    <div class="container py-4">
        <div class="mms-txt-header py-2">ประวัตรายการที่ไม่อนุมัติ</div>
        <hr />
        <div class="d-flex justify-content-between">
            <Button Class="ant-btn-distable" Style="width:150px;font-size:16px;">
                <i class="fa-solid fa-file-arrow-down"></i>&nbsp; ดาวน์โหลด
            </Button>
            <Space Direction="@DirectionVHType.Horizontal">
                <SpaceItem>
                    <Search Placeholder="ข้อมูลที่ต้องการค้นหา.." EnterButton="true" AllowClear />
                 </SpaceItem>
             </Space>
         </div>
         <div class="mt-3">
             <Table DataSource="data" OnChange="OnChange" TItem="Data">
                 <Column Title="ลำดับ" DataIndex="No" TData="int" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
                 <Column Title="เลขประจำตัวประชาชน" DataIndex="ID" TData="string" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
                 <Column Title="ชื่อ-นามสกุล" DataIndex="Name" TData="string" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
                 <Column Title="รหัสสถานพยาบาล" DataIndex="HosCode" TData="string" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
                 <Column Title="ชื่อสถานพยาบาล" DataIndex="HosName" TData="string" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
                 <Column Title="วันที่รักษา" DataIndex="treatmentDate" TData="string" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
                 <Column Title="จำนวนเงิน(บาท)" DataIndex="SumAmount" TData="string" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
                 <Column Title="หมายเหตุ" DataIndex="Remark" TData="string" Align="ColumnAlign.Center" Style="background: #EAE8EC;" />
            </Table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<int> IndexPage { get; set; }

    public async Task Detail(int item)
    {
        await IndexPage.InvokeAsync(item);
    }

    public record Data(int No, string ID, string Name, string HosCode, string HosName, string treatmentDate, string SumAmount, string Remark);

    public Data[] data =
    {
        new(1,"110121267891","นายเมธี ส่องแสง", "25665" ,"จุฟาภรณ์", "25/05/2566","128,000.00" , "เบิกซ้ำซ้อน"),
        new(1,"110121267891","นายเมธี ส่องแสง", "25665" ,"จุฟาภรณ์", "25/05/2566","128,000.00" , "ไม่ได้เป็นพนักงานเกินหกเดือน"),
        new(1,"110121267891","นายเมธี ส่องแสง", "25665" ,"จุฟาภรณ์", "25/05/2566","128,000.00" , "ไม่ได้จ่ายเงินสมทบทุกสามเดือน"),
    };

    void OnChange(QueryModel<Data> query)
    {
        Console.WriteLine(JsonSerializer.Serialize(query));
    }
}