<style>
    body {
        overflow: hidden;
        padding-right: 17px;
    }
    .btn-style-white {
        background: #FFFFFF;
        border: 2px solid #334396;
        border-radius: 4px;
        font-family: 'Noto Sans Thai';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 144%;
        color: #334396;
        Width: 173px;
        Height: 51px;
    }

    .btn-style-blue {
        background: #334396;
        border-radius: 4px;
        font-family: 'Noto Sans Thai';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 144%;
        color: #FFFFFF;
        Width: 173px;
        Height: 51px;
    }

    .text-login-title {
        font-family: 'Noto Sans Thai';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 73px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #334396;
    }

    .text-subtitle {
        font-family: 'Noto Sans Thai';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
        letter-spacing: -0.019em;
        color: #1A141F;
    }

    .modal-content {
        background: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        border-radius: 16px;
    }

    @@media (min-width: 576px) {
        .modal-dialog {
            max-width: 500px;
            margin: 1.75rem auto;
            padding-top: 10%;
        }
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1060;
        display: none;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;
        background: #00000057;
    }
</style>

<div class="modal fade show" id="myModal" style="display:block;" tabindex="-1" aria-labelledby="exampleModalLabel" role="dialog" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="" style="display: flex;justify-content: flex-end;border-bottom:0px solid">
                <button class="btn" type="button" data-bs-dismiss="modal" aria-label="Close" @onclick="@Cancel">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.227 19.7727L19.7737 12.226M19.7737 19.7727L12.227 12.226M16.0003 29.3327C23.3337 29.3327 29.3337 23.3327 29.3337 15.9993C29.3337 8.66602 23.3337 2.66602 16.0003 2.66602C8.66699 2.66602 2.66699 8.66602 2.66699 15.9993C2.66699 23.3327 8.66699 29.3327 16.0003 29.3327Z" stroke="#224183" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
            <div class="modal-body mb-4" align="center">
                <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="48" cy="48" r="48" fill="#C5CBE6" />
                    <path d="M48.0003 61.3327C46.5858 61.3327 45.2293 60.7708 44.2291 59.7706C43.2289 58.7704 42.667 57.4138 42.667 55.9994C42.667 53.0393 45.0403 50.666 48.0003 50.666C49.4148 50.666 50.7714 51.2279 51.7716 52.2281C52.7718 53.2283 53.3337 54.5849 53.3337 55.9994C53.3337 57.4138 52.7718 58.7704 51.7716 59.7706C50.7714 60.7708 49.4148 61.3327 48.0003 61.3327ZM64.0003 69.3327V42.666H32.0003V69.3327H64.0003ZM64.0003 37.3327C65.4148 37.3327 66.7714 37.8946 67.7716 38.8948C68.7718 39.895 69.3337 41.2515 69.3337 42.666V69.3327C69.3337 70.7472 68.7718 72.1037 67.7716 73.1039C66.7714 74.1041 65.4148 74.666 64.0003 74.666H32.0003C30.5858 74.666 29.2293 74.1041 28.2291 73.1039C27.2289 72.1037 26.667 70.7472 26.667 69.3327V42.666C26.667 39.706 29.0403 37.3327 32.0003 37.3327H34.667V31.9993C34.667 28.4631 36.0717 25.0717 38.5722 22.5713C41.0727 20.0708 44.4641 18.666 48.0003 18.666C49.7513 18.666 51.4851 19.0109 53.1028 19.681C54.7204 20.351 56.1903 21.3331 57.4284 22.5713C58.6665 23.8094 59.6487 25.2792 60.3187 26.8969C60.9888 28.5146 61.3337 30.2484 61.3337 31.9993V37.3327H64.0003ZM48.0003 23.9993C45.8786 23.9993 43.8438 24.8422 42.3435 26.3425C40.8432 27.8428 40.0003 29.8776 40.0003 31.9993V37.3327H56.0003V31.9993C56.0003 29.8776 55.1575 27.8428 53.6572 26.3425C52.1569 24.8422 50.1221 23.9993 48.0003 23.9993Z" fill="#334396" />
                </svg>
                <div class="container">
                    <div>
                        <p class="text-login-title">@title</p>
                        <p class="text-subtitle" for="form2Example1">@description</p>
                    </div>
                    <div class=" pt-2">
                        <button class="btn btn-outline-secondary btn-style-white" data-bs-dismiss="modal" aria-label="Close" @onclick="@Cancel">
                            <i class="fa-regular fa-circle-xmark"></i>&nbsp; ยกเลิก
                        </button>&nbsp;&nbsp;
                        <button class="btn btn-outline-primary btn-style-blue" type="button" @onclick=@Ok data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="fa-regular fa-trash-can"></i>&nbsp; ลบข้อมูล
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public string title { get; set; } = "";
    [Parameter] public string description { get; set; } = "";
    private Task Cancel()
    {
        return OnClose.InvokeAsync(false);
    }
    private Task Ok()
    {
        return OnClose.InvokeAsync(true);
    }
}